</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <ul class="footer-menu footer-menu1"><h6 class="footer-title">РАЗДЕЛЫ</h6>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">Новости</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">Блог</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">Календарь турниров</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">Результаты турниров</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">Путешественникам</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">Начинающим</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">Фотогалерея</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-3">
                <ul class="footer-menu footer-menu2"><h6 class="footer-title">ПРОЕКТ</h6>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">О проекте</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">Служба поддержки</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">Правила использования</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">Контакты</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">About Golfmir</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">О гольфе</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-3">
                <ul class="footer-menu footer-menu3"><h6 class="footer-title">ПАРТНЁРЫ</h6>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">Ассоциация Гольфа России</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">European Tour</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="">PGA Tour</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-3">
                <ul class="footer-menu footer-menu4"><h6 class="footer-title">СОЦ. СЕТИ</h6>
                    <li class="footer-nav-item">
                        <div class="footer-img">
                            <img class="fb-footer" src="/img/fb.svg" alt="">
                        </div>
                        <a class="footer-nav-link" href="">Facebook</a>
                    </li>
                    <li class="footer-nav-item">
                        <div class="footer-img">
                            <img class="inst-footer" src="/img/in.svg" alt="">
                        </div>
                        <a class="footer-nav-link" href="">Instagram</a>
                    </li>
                    <li class="footer-nav-item">
                        <div class="footer-img">
                            <img src="/img/Youtube.svg" alt="">
                        </div>
                        <a class="footer-nav-link" href="">Youtube</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <img class="footer-logo d-none d-lg-block" src="/img/footer-logo.png" alt="">
    <img class="footer-logo-mob d-lg-none" src="/img/footer-logo-mob.png" alt="">
    <div class="container-copyright">
        <div class="container">
            <div class="copyright d-inline-block">
                © Copyright
            </div>
            <div class="d-inline-block float-right copyright">
                Создан Bitdevelop
            </div>
        </div>
    </div>
</div>

<!-- Modal  Enter-->
<!--<div class="modal fade" id="Enter" tabindex="-1" role="dialog" aria-labelledby="ModalEnter" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-dialog-centered" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true"><img src="img/close.svg" alt=""></span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div class="enter-links">-->
                    <!--<a class="lk_link active modal-enter-link" href="enterMod">Вход</a>-->
                    <!--<a class="lk_link modal-registr-link" href="registrMod">Регистрация</a>-->
                <!--</div>-->
                <!--<div id="enterMod" class="enter en-link">-->
                    <!--<form action="" class="form-enter-user">-->
                        <!--<div class="form-group">-->
                            <!--<input type="email" class="form-control" id="email" placeholder="hello@example.ru">-->
                            <!--<label class="p12-gray" for="email">Email</label>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<input type="password" class="form-control" id="password" placeholder="Пароль">-->
                        <!--</div>-->
                        <!--<input type="button" class="btn-green btn-pay" data-dismiss="modal" value="Войти">-->
                        <!--<a class="forget-password" id="forgetPassword" href="javascript:void(0);">Забыли пароль?</a>-->
                    <!--</form>-->
                <!--</div>-->
                <!--<div id="registrMod" class="registr en-link d-none">-->
                    <!--<form action="" class="form-reg-user">-->
                        <!--<div class="form-group">-->
                            <!--<input type="email" class="form-control" id="FIOReg" placeholder="igbuv@odigbns.ru">-->
                            <!--<label class="p12-gray" for="email">ФИО</label>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<input type="phone" class="form-control" id="phoneReg" placeholder="Телефон">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" id="gandikapReg" placeholder="Гандикап">-->
                        <!--</div>-->
                        <!--<input type="button" class="btn-green btn-pay" data-dismiss="modal" value="Зарегистрироваться">-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- Modal  Password Recovery-->
<!--<div class="modal fade" id="passwordRecovery" tabindex="-1" role="dialog" aria-labelledby="ModalEnter"-->
     <!--aria-hidden="true">-->
    <!--<div class="modal-dialog modal-dialog-centered" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true"><img src="img/close.svg" alt=""></span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<h4 class="name-modal">Восстановление пароля</h4>-->
                <!--<form action="" class="form-recovery">-->
                    <!--<div class="form-group">-->
                        <!--<input type="email" class="form-control" id="emailRecovery" placeholder="hello@example.ru">-->
                        <!--<label class="p12-gray" for="email">Email</label>-->
                    <!--</div>-->
                    <!--<input type="button" class="btn-green btn-pay" data-dismiss="modal" value="Отправить пароль">-->
                    <!--<a class="forget-password" id="backToAuthorization" href="javascript:void(0);">Вернуться к авторизации</a>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- Modal  Buy Turnir-->
<div class="modal fade" id="buyTurnir" tabindex="-1" role="dialog" aria-labelledby="ModalBuyTurnir" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="img/close.svg" alt=""></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-padding">
                    <img class="img-turnir-detail" src="/img/turnir-agr.png" alt="">
                    <div class="row row-date-place row-date-place-modal">
                        <div class="col-7 col-lg-4">
                            <p>14-16 июля 2016</p>
                            <p class="calendar-detail-name-place p12-gray">Дата</p>
                        </div>
                        <div class="col-5 col-lg-2">
                            <p>Россия</p>
                            <p class="calendar-detail-name-place p12-gray">Страна</p>
                        </div>
                        <div class="col-12 col-lg-6">
                            <p class="p-place-turnir">Свияжские холмы (Казан)</p>
                            <p class="calendar-detail-name-place p12-gray">Гольф-клуб</p>
                        </div>
                    </div>
                    <form action="">
                        <div class="row">
                            <div class="col-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                           id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        Член клуба <br>
                                        <span>(необходимо предьявить документ)</span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                           id="exampleRadios2" value="option2">
                                    <label class="form-check-label" for="exampleRadios2">
                                        Гость
                                    </label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="price-number">
                                    2 000 ₽
                                </div>
                                <div class="price-number">
                                    4 000 ₽
                                </div>
                            </div>
                            <a class="btn-green btn-pay" id="later" data-toggle="modal" data-target="#buyKaddy">Продолжить</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal  Buy kaddy-->
<div class="modal fade" id="buyKaddy" tabindex="-1" role="dialog" aria-labelledby="ModalBuyKaddy" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Выбор кедди</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="img/close.svg" alt=""></span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-check bg">
                        <label class="check-label d-inline-block" for="kaddy1">
                            <img class="d-inline-block" src="/img/content/keddy1.png" alt="">
                            <div class="d-inline-block">
                                <p class="name-kaddy-modal">Анастасия Григоричева <span class="price-kaddy">6 000 руб.</span></p>
                                <p class="status-kaddy-modal">начинающий</p>
                                <a class="status-kaddy-modal" href="kaddy-starting.html">Опыт работы, описание, награды</a>
                            </div>
                        </label>
                        <input class="check-input d-inline-block float-right" type="radio" name="exampleRadios" id="kaddy1" checked>
                    </div>
                    <div class="form-check">
                        <label class="check-label d-inline-block" for="kaddy2">
                            <img class="d-inline-block" src="/img/content/keddy2.png" alt="">
                            <div class="d-inline-block">
                            <p class="name-kaddy-modal">Дмитрий Чернов <span class="price-kaddy">8 000 руб.</span></p>
                            <p class="status-kaddy-modal">профессионал</p>
                            <a class="status-kaddy-modal" href="kaddy-profi.html">Опыт работы, описание, награды</a>
                            </div>
                        </label>
                        <input class="check-input d-inline-block float-right" type="radio" name="exampleRadios" id="kaddy2">
                    </div>
                    <div class="form-check">
                        <label class="check-label d-inline-block" for="kaddy3">
                            <img class="d-inline-block" src="/img/content/keddy3.png" alt="">
                            <div class="d-inline-block">
                            <p class="name-kaddy-modal">Роман Мищенко <span class="price-kaddy">8 000 руб.</span></p>
                            <p class="status-kaddy-modal">профессионал</p>
                            <a class="status-kaddy-modal" class="practic-kaddy-modal" href="kaddy-profi.html">Опыт работы, описание, награды</a>
                            </div>
                        </label>
                        <input class="check-input d-inline-block float-right" type="radio" name="exampleRadios" id="kaddy3">
                    </div>
                    <div class="form-check">
                        <label class="check-label d-inline-block" for="kaddy4">
                            <img class="d-inline-block" src="/img/content/keddy4.png" alt="">
                            <div class="d-inline-block">
                            <p class="name-kaddy-modal">Евгений Журавлев <span class="price-kaddy">6 000 руб.</span></p>
                            <p class="status-kaddy-modal">начинающий</p>
                            <a class="status-kaddy-modal" href="kaddy-starting.html">Опыт работы, описание, награды</a>
                            </div>
                        </label>
                        <input class="check-input d-inline-block float-right" type="radio" name="exampleRadios" id="kaddy4">
                    </div>
                    <div class="form-check">
                        <label class="check-label d-inline-block" for="kaddy5">
                            <img class="d-inline-block" src="/img/content/keddy5.png" alt="">
                            <div class="d-inline-block">
                            <p class="name-kaddy-modal">Алина Ковалева <span class="price-kaddy">6 000 руб.</span></p>
                            <p class="status-kaddy-modal">начинающий</p>
                            <a class="status-kaddy-modal" href="kaddy-starting.html">Опыт работы, описание, награды</a>
                            </div>
                        </label>
                        <input class="check-input d-inline-block float-right" type="radio" name="exampleRadios" id="kaddy5">
                    </div>

                    <button class="btn-green btn-pay">Добавить в корзину</button>
                    <button class="btn-white btn-pay">Продолжить без кедди</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>