<div class="calendar-slider-index">
    <div class="slide-event card-slide">
        <div class="row">
            <div class="col-3 col-lg-4">
                <a class="link-img-turnir" href="turnir.html">
                    <img class="img-fluid img-calendar-slider" src="/img/content/style.svg" alt="">
                </a>
            </div>
            <div class="col-9 col-lg-8">
                <a class="link-no-decoration" href="turnir.html">
                    <p class="event-date d-none d-lg-block">18.02.18</p>
                    <p class="event-name">III Туринр I этапа Skolkovo</p>
                    <p class="event-place p12-gray d-none d-lg-block">Московский городской Гольф Клуб</p>
                    <p class="event-date d-lg-none p12-gray">18.02.18</p>
                </a>
            </div>
        </div>
    </div>
    <div class="slide-event card-slide">
        <div class="row">
            <div class="col-3 col-lg-4">
                <a class="link-img-turnir" href="turnir.html">
                    <img class="img-fluid img-calendar-slider" src="/img/content/style.svg" alt="">
                </a>
            </div>
            <div class="col-9 col-lg-8">
                <a class="link-no-decoration" href="turnir.html">
                    <p class="event-date d-none d-lg-block">18.02.18</p>
                    <p class="event-name">III Туринр I этапа Skolkovo</p>
                    <p class="event-place p12-gray d-none d-lg-block">Московский городской Гольф Клуб</p>
                    <p class="event-date d-lg-none p12-gray">18.02.18</p>
                </a>
            </div>
        </div>
    </div>
    <div class="slide-event card-slide">
        <div class="row">
            <div class="col-3 col-lg-4">
                <a class="link-img-turnir" href="turnir.html">
                    <img class="img-fluid img-calendar-slider" src="/img/content/style.svg" alt="">
                </a>
            </div>
            <div class="col-9 col-lg-8">
                <a class="link-no-decoration" href="turnir.html">
                    <p class="event-date d-none d-lg-block">18.02.18</p>
                    <p class="event-name">III Туринр I этапа Skolkovo</p>
                    <p class="event-place p12-gray d-none d-lg-block">Московский городской Гольф Клуб</p>
                    <p class="event-date d-lg-none p12-gray">18.02.18</p>
                </a>
            </div>
        </div>
    </div>
    <div class="slide-event card-slide">
        <div class="row">
            <div class="col-3 col-lg-4">
                <a class="link-img-turnir" href="turnir.html">
                    <img class="img-fluid img-calendar-slider" src="/img/content/style.svg" alt="">
                </a>
            </div>
            <div class="col-9 col-lg-8">
                <a class="link-no-decoration" href="turnir.html">
                    <p class="event-date d-none d-lg-block">18.02.18</p>
                    <p class="event-name">III Туринр I этапа Skolkovo</p>
                    <p class="event-place p12-gray d-none d-lg-block">Московский городской Гольф Клуб</p>
                    <p class="event-date d-lg-none p12-gray">18.02.18</p>
                </a>
            </div>
        </div>
    </div>
    <div class="slide-event card-slide">
        <div class="row">
            <div class="col-3 col-lg-4">
                <a class="link-img-turnir" href="turnir.html">
                    <img class="img-fluid img-calendar-slider" src="/img/content/style.svg" alt="">
                </a>
            </div>
            <div class="col-9 col-lg-8">
                <a class="link-no-decoration" href="turnir.html">
                    <p class="event-date d-none d-lg-block">18.02.18</p>
                    <p class="event-name">III Туринр I этапа Skolkovo</p>
                    <p class="event-place p12-gray d-none d-lg-block">Московский городской Гольф Клуб</p>
                    <p class="event-date d-lg-none p12-gray">18.02.18</p>
                </a>
            </div>
        </div>
    </div>
    <div class="slide-event card-slide">
        <div class="row">
            <div class="col-3 col-lg-4">
                <a class="link-img-turnir" href="turnir.html">
                    <img class="img-fluid img-calendar-slider" src="/img/content/style.svg" alt="">
                </a>
            </div>
            <div class="col-9 col-lg-8">
                <a class="link-no-decoration" href="turnir.html">
                    <p class="event-date d-none d-lg-block">18.02.18</p>
                    <p class="event-name">III Туринр I этапа Skolkovo</p>
                    <p class="event-place p12-gray d-none d-lg-block">Московский городской Гольф Клуб</p>
                    <p class="event-date d-lg-none p12-gray">18.02.18</p>
                </a>
            </div>
        </div>
    </div>
    <div class="slide-event card-slide">
        <div class="row">
            <div class="col-3 col-lg-4">
                <a class="link-img-turnir" href="turnir.html">
                    <img class="img-fluid img-calendar-slider" src="/img/content/style.svg" alt="">
                </a>
            </div>
            <div class="col-9 col-lg-8">
                <a class="link-no-decoration" href="turnir.html">
                    <p class="event-date d-none d-lg-block">18.02.18</p>
                    <p class="event-name">III Туринр I этапа Skolkovo</p>
                    <p class="event-place p12-gray d-none d-lg-block">Московский городской Гольф Клуб</p>
                    <p class="event-date d-lg-none p12-gray">18.02.18</p>
                </a>
            </div>
        </div>
    </div>
    <div class="slide-event card-slide">
        <div class="row">
            <div class="col-3 col-lg-4">
                <a class="link-img-turnir" href="turnir.html">
                    <img class="img-fluid img-calendar-slider" src="/img/content/style.svg" alt="">
                </a>
            </div>
            <div class="col-9 col-lg-8">
                <a class="link-no-decoration" href="turnir.html">
                    <p class="event-date d-none d-lg-block">18.02.18</p>
                    <p class="event-name">III Туринр I этапа Skolkovo</p>
                    <p class="event-place p12-gray d-none d-lg-block">Московский городской Гольф Клуб</p>
                    <p class="event-date d-lg-none p12-gray">18.02.18</p>
                </a>
            </div>
        </div>
    </div>
</div>