<div class="card-gallery">
    <h5><a class="title-gallery" href="#">В гольф-клубе Минск во второй раз состоялся открытый Кубок Беларуси по гольфу</a></h5>
    <span class="date-gallery p12-gray">01.08.2019</span>
<p class="text-gallery">27 и 28 июля на чемпионском поле Гольф-клуба Минск состоялся открытый Кубок Беларуси по гольфу – «Golf Open Cup Belarus 2019». </p>
    <!--<ul class="list-photo">-->
        <!--<li class="photo-small first-photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/240x160 alt=""></li>-->
        <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
        <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
        <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
        <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
        <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
        <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
        <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
        <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
        <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
        <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
        <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--</ul>-->
    <!--<div class="clearfix"></div>-->

    <div class="gallery-slider-for">
            <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
            <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
            <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
            <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
            <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
    </div>
    <div class="gallery-slider-nav">
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-1.180x120" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-2.180x120" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-3.180x120" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-4.180x120" alt=""></div>
    </div>
</div>

<div class="card-gallery">
    <h5><a class="title-gallery" href="#">В гольф-клубе Минск во второй раз состоялся открытый Кубок Беларуси по гольфу</a></h5>
    <span class="date-gallery p12-gray">01.08.2019</span>
    <p class="text-gallery">27 и 28 июля на чемпионском поле Гольф-клуба Минск состоялся открытый Кубок Беларуси по гольфу – «Golf Open Cup Belarus 2019». </p>
    <!--<ul class="list-photo">-->
    <!--<li class="photo-small first-photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/240x160 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--</ul>-->
    <!--<div class="clearfix"></div>-->

    <div class="gallery-slider-for">
        <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
        <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
        <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
        <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
        <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
    </div>
    <div class="gallery-slider-nav">
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-1.180x120" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-2.180x120" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-3.180x120" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-4.180x120" alt=""></div>
    </div>
</div>

<div class="card-gallery">
    <h5><a class="title-gallery" href="#">В гольф-клубе Минск во второй раз состоялся открытый Кубок Беларуси по гольфу</a></h5>
    <span class="date-gallery p12-gray">01.08.2019</span>
    <p class="text-gallery">27 и 28 июля на чемпионском поле Гольф-клуба Минск состоялся открытый Кубок Беларуси по гольфу – «Golf Open Cup Belarus 2019». </p>
    <!--<ul class="list-photo">-->
    <!--<li class="photo-small first-photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/240x160 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--<li class="photo-small"><img class="img-fluid" src=""><img src=https://via.placeholder.com/120x80 alt=""></li>-->
    <!--</ul>-->
    <!--<div class="clearfix"></div>-->

    <div class="gallery-slider-for">
        <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
        <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
        <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
        <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
        <img class="img-fluid gallery-slider-for--img-big" src="https://via.placeholder.com/600x400.png?text=slide-1.600x400" alt="">
    </div>
    <div class="gallery-slider-nav">
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-1.180x120" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-2.180x120" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-3.180x120" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/180x120.png?text=slide-4.180x120" alt=""></div>
    </div>
</div>

