<div class="news-horizontal">
<div class="container">
    <div class="news-horizontal-slider">
        <div class="slide-news-horizontal card-slide">
            <a href="article.html">
                <img src="/img/content/newh1.svg" alt="">
            </a>
            <a class="name-sector sector-green link-no-decoration">Новости</a>
            <a class="text-slide-news-horizontal">Европейские звезды впервые знакомятся с новыми првавилами гольфа</a>
        </div>
        <div class="slide-news-horizontal card-slide">
            <a href="article.html">
                <img src="/img/content/newh2.svg" alt="">
            </a>
            <a class="name-sector sector-green link-no-decoration">Новости</a>
            <a class="text-slide-news-horizontal">В новый сезон с новыми клюшками.  Чего ждать от Тайгера Вудса  в его первом турнире?</a>
        </div>
        <div class="slide-news-horizontal card-slide">
            <a href="article.html">
                <img src="/img/content/newh3.svg" alt="">
            </a>
            <a class="name-sector sector-green link-no-decoration">Новости</a>
            <a class="text-slide-news-horizontal">Лучший раунд в карьере. Микелсон нанёс 60 ударов!</a>
        </div>
        <div class="slide-news-horizontal card-slide">
            <a href="article.html">
                <img src="/img/content/newh2.svg" alt="">
            </a>
            <a class="name-sector sector-green link-no-decoration">Новости</a>
            <a class="text-slide-news-horizontal">В новый сезон с новыми клюшками.  Чего ждать от Тайгера Вудса  в его первом турнире?</a>
        </div>
    </div>
</div>
</div>