<div class="container container-catalog">
    <h3 class="d-inline-block">Оборудование</h3><span class="p12-gray d-lg-none" style="padding-left: 10px;">227 товаров</span>
    <div class="row all-catalog">
        <div class="col-12 col-lg-3">
            @@include('_comp_catalog-filter.html')
        </div>
        <div class="col-12 col-lg-9">
            @@include('_comp_sort-catalog.html')
            <div class="row catalog">
                <div class="col-12 col-lg-4">
                    <a href="equipment-detail.html">
                    <div class="card-product">
                        <div class="block-img-product">
                            <img class="img-fluid" src="/img/img-product.png" alt="">
                        </div>
                        <div class="block-price-product">
                            <div class="price-product d-none d-lg-block">
                                1 000 руб.
                            </div>
                            <div class="name-product">
                                Golf Pride Tour Velvet Cord Grip
                            </div>
                            <div class="price-product d-lg-none">
                                1 000 руб.
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4">
                    <a href="equipment-detail.html">
                        <div class="card-product">
                            <div class="block-img-product">
                                <img class="img-fluid" src="/img/img-product.png" alt="">
                            </div>
                            <div class="block-price-product">
                                <div class="price-product d-none d-lg-block">
                                    1 000 руб.
                                </div>
                                <div class="name-product">
                                    Golf Pride Tour Velvet Cord Grip
                                </div>
                                <div class="price-product d-lg-none">
                                    1 000 руб.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4">
                    <a href="equipment-detail.html">
                        <div class="card-product">
                            <div class="block-img-product">
                                <img class="img-fluid" src="/img/img-product.png" alt="">
                            </div>
                            <div class="block-price-product">
                                <div class="price-product d-none d-lg-block">
                                    1 000 руб.
                                </div>
                                <div class="name-product">
                                    Golf Pride Tour Velvet Cord Grip
                                </div>
                                <div class="price-product d-lg-none">
                                    1 000 руб.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4">
                    <a href="equipment-detail.html">
                        <div class="card-product">
                            <div class="block-img-product">
                                <img class="img-fluid" src="/img/img-product.png" alt="">
                            </div>
                            <div class="block-price-product">
                                <div class="price-product d-none d-lg-block">
                                    1 000 руб.
                                </div>
                                <div class="name-product">
                                    Golf Pride Tour Velvet Cord Grip
                                </div>
                                <div class="price-product d-lg-none">
                                    1 000 руб.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4">
                    <a href="equipment-detail.html">
                        <div class="card-product">
                            <div class="block-img-product">
                                <img class="img-fluid" src="/img/img-product.png" alt="">
                            </div>
                            <div class="block-price-product">
                                <div class="price-product d-none d-lg-block">
                                    1 000 руб.
                                </div>
                                <div class="name-product">
                                    Golf Pride Tour Velvet Cord Grip
                                </div>
                                <div class="price-product d-lg-none">
                                    1 000 руб.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="d-none d-lg-block">
                @@include('_comp_pagination.html')
            </div>
            <button class="btn-green btn-load d-lg-none">Загрузить еще</button>
        </div>
    </div>
</div>