<div class="container container-calendar-slider">
    <div class="calendar-slider">
        <div class="turnir-slide turnir-link">
            <a href="turnir.html">
                <img src="/img/content/turnir1.svg" alt="">
            </a>
            <a class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">24.02</a>
            <a class="name-turnir-slider-calendar" href="turnir.html">Gorki golf club</a>
            <a class="name-place-slider-calendar p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">Московский
                городской Гольф Клуб</a>
            <a class="date-slider-calendar p12-gray d-lg-none link-no-decoration" href="turnir.html">24.02</a>
        </div>
        <div class="turnir-slide turnir-link">
            <a href="turnir.html">
                <img src="/img/content/turnir2.svg" alt="">
            </a>
            <a class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">24.02</a>
            <a class="name-turnir-slider-calendar" href="turnir.html">Зимний кубок  III этап</a>
            <a class="date-slider-calendar p12-gray d-lg-none link-no-decoration" href="turnir.html">24.02</a>
        </div>
        <div class="turnir-slide turnir-link">
            <a href="turnir.html">
                <img src="/img/content/turnir3.svg" alt="">
            </a>
            <a class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">24.02</a>
            <a class="name-turnir-slider-calendar" href="turnir.html">Skolkovo Golf club Moscow</a>
            <a class="date-slider-calendar p12-gray d-lg-none link-no-decoration" href="turnir.html">24.02</a>
        </div>
        <div class="turnir-slide turnir-link">
            <a href="turnir.html">
                <img src="/img/content/turnir4.svg" alt="">
            </a>
            <a class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">24.02</a>
            <a class="name-turnir-slider-calendar" href="turnir.html">RNGC Winter  Series</a>
            <a class="date-slider-calendar p12-gray d-lg-none link-no-decoration" href="turnir.html">24.02</a>
        </div>
        <div class="turnir-slide turnir-link">
            <a href="turnir.html">
                <img src="/img/content/turnir5.svg" alt="">
            </a>
            <a class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">24.02</a>
            <a class="name-turnir-slider-calendar" href="turnir.html">Peterhof golfclub</a>
            <a class="name-place-slider-calendar p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">Гольф Клуб </a>
            <a class="date-slider-calendar p12-gray d-lg-none link-no-decoration" href="turnir.html">24.02</a>
        </div>
        <div class="turnir-slide turnir-link">
            <a href="turnir.html">
                <img src="/img/content/turnir6.svg" alt="">
            </a>
            <a class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">24.02</a>
            <a class="name-turnir-slider-calendar" href="turnir.html">Winter Captain Cup</a>
            <a class="name-place-slider-calendar p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">Городской Гольф Клуб</a>
            <a class="date-slider-calendar p12-gray d-lg-none link-no-decoration" href="turnir.html">24.02</a>
        </div>
        <div class="turnir-slide turnir-link">
            <a href="turnir.html">
                <img src="/img/content/turnir2.svg" alt="">
            </a>
            <a class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">24.02</a>
            <a class="name-turnir-slider-calendar" href="turnir.html">Gorki golf club</a>
            <a class="name-place-slider-calendar p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">Московский
                городской Гольф Клуб</a>
            <a class="date-slider-calendar p12-gray d-lg-none link-no-decoration" href="turnir.html">24.02</a>
        </div>
    </div>
</div>