<div class="container news-container">
    <div class="row">
        <div class="col-4 d-none d-lg-block">
            <div class="banner">
                <a href="#">
                    <img class="img-fluid" src="/img/banner-adidas.png" alt="">
                </a>
            </div>

            <h3>Новости</h3>
            @@include('_comp_news-slider.html')
        </div>
        <div class="col-12 col-lg-8">
            @@include('_comp_news-tile.html')
        </div>
    </div>
</div>