<div class="container seminars">
            <h3 class="title-with-line"><span style="padding-left: 0;">Семинары и членство</span></h3>
    <div class="row seminars-row">
        <div class="seminar">
            <div>
                <a href="#">
                    <img class="img-seminar img-fluid" src="/img/content/seminar1.svg" alt="">
                </a>
            <a class="type-seminar link-no-decoration" href="#">Семинары</a>
            <a class="text-seminar" href="#">Николай Ремизов о новой редакции правил</a>
            <a class="btn-white" href="#">Купить билет</a>
        </div>
        </div>
        <div class="seminar">
            <div>
                <a href="#">
                    <img class="img-seminar img-fluid" src="/img/content/seminar2.svg" alt="">
                </a>
                <a class="type-seminar link-no-decoration" href="#">Семинары</a>
            <a class="text-seminar" href="#">АГР завершила весеннюю сессию обучающих мероприятий для судей</a>
            <a class="btn-white" href="#">Купить билет</a>
        </div>
        </div>
        <div class="seminar">
            <div>
                <a href="#">
                    <img class="img-seminar img-fluid" src="/img/content/seminar3.svg" alt="">
                </a>
                <a class="type-seminar link-no-decoration" href="#">Семинары</a>
            <a class="text-seminar" href="#">Открыта регистрация  в системе гандикапов  АГР</a>
            <a class="btn-white" href="#">Зарегистрироваться</a>
        </div>
        </div>
        <div class="seminar">
            <div>
                <a href="">
                    <img class="img-seminar img-fluid" src="/img/content/seminar4.svg" alt="">
                </a>
                <a class="type-seminar link-no-decoration" href="#">Семинары</a>
            <a class="text-seminar" href="#">Семинар по подготовке  спортивных судей  по гольфу</a>
            <a class="btn-white" href="#">Купить билет</a>
        </div>
        </div>
        <div class="seminar">
            <div>
                <a href="">
                    <img class="img-seminar img-fluid" src="/img/content/seminar4.svg" alt="">
                </a>
                <a class="type-seminar link-no-decoration" href="#">Семинары</a>
                <a class="text-seminar" href="#">Семинар по подготовке  спортивных судей  по гольфу</a>
                <a class="btn-white" href="#">Купить билет</a>
            </div>
        </div>
    </div>
   </div>