<div class="card-kaddy">
    <img src="img/image-kaddy.png" alt="">
    <img class="star-kaddy" src="img/star-kaddy.svg" alt="">
    <p class="name-kaddy">Дмитрий Чернов</p>
    <p class="status-kaddy">Профессиональный кэдди</p>
    <div class="advance-kaddy">
        <!--<p class="certificat">4 сертификата</p>-->
        <!--<p class="prize">2 награды</p>-->
        <p class="practice">5 лет опыта</p>
    </div>
    <a class="btn-buy-kaddy d-block" href="#">Заказать услугу кэдди</a>
    <a class="btn-white btn-comment d-block" href="#">Оставить отзыв</a>
</div>