<div class="container container-calendar-slider">
    <div class="calendar-slider-horizontal">
        <div class="turnir-slide turnir-link">
            <a class="" href="turnir.html">
                <img src="/img/content/turnir1.svg" alt="">
            </a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration">24.02</a>
                <a href="turnir.html" class="name-turnir-slider-calendar">Gorki golf club</a>
                <a href="turnir.html" class="name-place-slider-calendar p12-gray d-none d-lg-block link-no-decoration">Московский городской Гольф Клуб</a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-lg-none link-no-decoration">24.02</a>
        </div>
        <div class="turnir-slide turnir-link">
            <a class="" href="turnir.html">
                <img src="/img/content/turnir2.svg" alt="">
            </a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration">24.02</a>
                <a href="turnir.html" class="name-turnir-slider-calendar">Gorki golf club</a>
                <a href="turnir.html" class="name-place-slider-calendar p12-gray d-none d-lg-block link-no-decoration">Московский городской Гольф Клуб</a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-lg-none link-no-decoration">24.02</a>
        </div>
        <div class="turnir-slide turnir-link">
            <a class="" href="turnir.html">
                <img src="/img/content/turnir3.svg" alt="">
            </a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration">24.02</a>
                <a href="turnir.html" class="name-turnir-slider-calendar">Gorki golf club</a>
                <a href="turnir.html" class="name-place-slider-calendar p12-gray d-none d-lg-block link-no-decoration">Московский городской Гольф Клуб</a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-lg-none link-no-decoration">24.02</a>

        </div>
        <div class="turnir-slide turnir-link">
            <a class="" href="turnir.html">
            </a>
                <img src="/img/content/turnir4.svg" alt="">
                <a href="turnir.html" class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration">24.02</a>
                <a href="turnir.html" class="name-turnir-slider-calendar">Gorki golf club</a>
                <a href="turnir.html" class="name-place-slider-calendar p12-gray d-none d-lg-block link-no-decoration">Московский городской Гольф Клуб</a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-lg-none link-no-decoration">24.02</a>
        </div>
        <div class="turnir-slide turnir-link">
            <a class="" href="turnir.html">
            </a>
                <img src="/img/content/turnir5.svg" alt="">
                <a href="turnir.html" class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration">24.02</a>
                <a href="turnir.html" class="name-turnir-slider-calendar">Gorki golf club</a>
                <a href="turnir.html" class="name-place-slider-calendar p12-gray d-none d-lg-block link-no-decoration">Московский городской Гольф Клуб</a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-lg-none link-no-decoration">24.02</a>
        </div>
        <div class="turnir-slide turnir-link">
            <a class="" href="turnir.html">
                <img src="/img/content/turnir6.svg" alt="">
            </a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration">24.02</a>
                <a href="turnir.html" class="name-turnir-slider-calendar">Gorki golf club</a>
                <a href="turnir.html" class="name-place-slider-calendar p12-gray d-none d-lg-block link-no-decoration">Московский городской Гольф Клуб</a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-lg-none link-no-decoration">24.02</a>
        </div>
        <div class="turnir-slide turnir-link">
            <a class="" href="turnir.html">
                <img src="/img/content/turnir2.svg" alt="">
            </a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-none d-lg-block link-no-decoration">24.02</a>
                <a href="turnir.html" class="name-turnir-slider-calendar">Gorki golf club</a>
                <a href="turnir.html" class="name-place-slider-calendar p12-gray d-none d-lg-block link-no-decoration">Московский городской Гольф Клуб</a>
                <a href="turnir.html" class="date-slider-calendar p12-gray d-lg-none link-no-decoration">24.02</a>
        </div>
    </div>
</div>