<div class="card-kaddy kaddy-starting">
    <img src="img/image-kaddy.png" alt="">
    <p class="name-kaddy">Анатолий  Лебедев</p>
    <!--<p class="status-kaddy">Профессиональный кэдди</p>-->
    <div class="advance-kaddy">
        <!--<p class="prize">1 награда</p>-->
        <p class="practice">2 года опыта</p>
    </div>
    <a class="btn-buy-kaddy d-block" href="#">Заказать услугу кэдди</a>
    <a class="btn-white btn-comment d-block" href="#">Оставить отзыв</a>
</div>