<div class="row list-tips">
    <div class="col-12 col-md-6">
        <div class="card-news">
            <a href="article.html">
                <img class="img-fluid" src="/img/content/tip1.png" alt="">
            </a>
            <a class="name-sector sector-blue link-no-decoration d-none d-lg-inline-block" href="list-news.html">
                Обучение
            </a>
            <a class="title-news" href="article.html">
                Академия гольфа : 15 советов  как найти учителя по гольфу
            </a>
            <a class="link-no-decoration" href="article.html">
                <p class="text-news">в Pine Creek Golf Resort прошёл первый семейный турнир Family Cup. В турнире приняли участие семейные пары и родители с детьми
                </p>
            </a>

        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card-news">
            <a href="article.html">
                <img class="img-fluid" src="/img/content/tip2.png" alt="">
            </a>
            <a class="name-sector sector-blue link-no-decoration d-none d-lg-inline-block" href="list-news.html">
                Обучение
            </a>
            <a class="title-news" href="article.html">
                Какое оборудование выбрать  начинающему гольфисту
            </a>
            <a class="link-no-decoration" href="article.html">
                <p class="text-news">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также купив билеты в рамках специальной лотереи. Если этого не произошло, то за бейдж на неделю вам придется заплатить $12,450.
                </p>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6 d-none d-lg-block">
        <div class="card-news">
            <a href="article.html">
                <img class="img-fluid" src="/img/content/tip3.png" alt="">
            </a>
            <a class="name-sector sector-blue link-no-decoration d-none d-lg-inline-block" href="list-news.html">
                Обучение
            </a>
            <a class="title-news" href="article.html">
                «Элементарно, Холмс!». Джей-Би обошёл Вудса и Томаса на Genesis Open
            </a>
            <a class="link-no-decoration" href="article.html">
                <p class="text-news">в Pine Creek Golf Resort прошёл первый семейный турнир Family Cup. В турнире
                    приняли участие семейные пары и родители с детьми
                </p>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6 d-none d-lg-block">
        <div class="card-news">
            <a href="article.html">
                <img class="img-fluid" src="/img/content/tip4.png" alt="">
            </a>
            <a class="name-sector sector-blue link-no-decoration d-none d-lg-inline-block" href="list-news.html">
                Обучение
            </a>
            <a class="title-news" href="article.html">
                «Элементарно, Холмс!». Джей-Би обошёл Вудса и Томаса на Genesis Open
            </a>
            <a class="link-no-decoration" href="article.html">
                <p class="text-news">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также купив
                    билеты в рамках специальной лотереи. Если этого не произошло, то за бейдж на неделю вам придется
                    заплатить $12,450.
                </p>
            </a>
        </div>
    </div>
</div>
