<div class="container container-cabinet">
    <h4>Личный кабинет</h4>
    <div class="row">
        <div class="col-12 col-lg-4 order-lg-2">
            @@include('_comp_cabinet-menu.html')
        </div>
        <div class="col-12 col-lg-8 order-lg-1">
            <div class="table-user">
                <div class="table-user-head text18">Личные данные</div>
                <form action="" class="form-table-user">
                    <div class="form-group col-form">
                        <input type="text" class="form-control" id="senameUser" value="Комаров" disabled >
                        <label class="p12-gray" for="senameUser">Фамилия</label>
                    </div>
                    <div class="form-group col-form">
                        <input type="text" class="form-control" id="nameUser" value="Валерий" disabled>
                        <label class="p12-gray" for="nameUser">Имя</label>
                    </div>
                    <div class="form-group col-form">
                        <input type="text" class="form-control" id="patronymicUser" value="Александрович" disabled>
                        <label class="p12-gray" for="patronymicUser">Отчество</label>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="E-mail" value="igbuv@odigbns.ru" disabled>
                    </div>
                    <div class="form-group">
                        <input type="phone" class="form-control" id="phone" placeholder="Номер телефона" value="444444444444" disabled>
                    </div>
                    <div class="form-group col-form col-form-bottom">
                        <input type="text" class="form-control" id="gandikap" value="36" disabled>
                        <label class="p12-gray" for="gandikap">Гандикап</label>
                    </div>
                    <div class="block-buttons">
                        <a class="btn-green btn-pay btn-form-user btn-redact">Редактировать</a>
                    <a class="btn-white btn-pay btn-form-user btn-none" style="margin-right: 7px;">Отмена</a>
                    <a class="btn-green btn-pay btn-form-user btn-none">Сохранить</a>
                </div>
                </form>

            </div>
        </div>
</div>
</div>