<div class="container container-checkout">
    <h4>Оформление заказа</h4>
    <div class="row">
        <div class=" col-12 col-lg-4 order-lg-2">
        <div class="row col-sum">
            <div class="col-6">
                <p>Сумма</p>
            </div>
            <div class="col-6">
                <p class="price-number">6 000<img src="/img/ruble.png" alt=""></p>
            </div>
        </div>
    </div>
        <div class="col-12 col-lg-8">
            <div class="table-checkout">
                <div class="table-checkout-head text18 check-green-round">Товары в заказе
                    <a class="change" href="">Изменить</a></div>
                <div class="checkout-order checkout2-order">
                    <div class="row">
                        <div class="col-5 col-lg-3">
                            <div class="img-order"><img class="img-fluid" src="/img/peterhof.png" alt=""></div>
                        </div>
                        <div class="col-7 col-lg-6">
                            <div class="desctiption-order">
                                <p class="name-product">Peterhof golfclub</p>
                                <p class="p12-gray">Москва, Россия</p>
                                <p class="price-to-members">Для членов клуба</p>
                                <p class="price-number">2 000 <img src="/img/ruble.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout-order checkout2-order">
                    <div class="row">
                        <div class="col-5 col-lg-3">
                            <div class="img-order"><img class="img-fluid" src="/img/peterhof.png" alt=""></div>
                        </div>
                        <div class="col-7 col-lg-6">
                            <div class="desctiption-order">
                                <p class="name-product">Peterhof golfclub</p>
                                <p class="p12-gray">Москва, Россия</p>
                                <p class="price-to-members">Для членов клуба</p>
                                <p class="price-number">2 000 <img src="/img/ruble.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-checkout">
            <div class="checkout-head text18 check-green-round">Оплата
                <a class="change" href="">Изменить</a></div>
            <div class="my-card-pay text18">Master Card/ Visa</div>
            </div>
            <div class="table-checkout">
            <div class="checkout-head text18 check-green form">Покупатель</div>
                    <form class="checkout-form">
                        <div class="form-group d-none d-lg-block">
                            <input type="text" class="form-control padding-input" id="name" placeholder="Комаров Валерий Александрович">
                            <label class="fio p12-gray" for="name">ФИО</label>
                        </div>
                        <div class="form-group d-lg-none">
                            <input type="text" class="form-control padding-input" id="sunameUser" placeholder="Комаров">
                            <label class="fio p12-gray" for="name">Фамилия</label>
                        </div>
                        <div class="form-group d-lg-none">
                            <input type="text" class="form-control padding-input" id="nameUser" placeholder="Валерий">
                            <label class="fio p12-gray" for="name">Имя</label>
                        </div>
                        <div class="form-group d-lg-none">
                            <input type="text" class="form-control padding-input" id="patronymicUser" placeholder="Александрович">
                            <label class="fio p12-gray" for="name">Отчество</label>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone-buy" placeholder="Номер телефона">
                        </div>
                        <div class="form-text">
            <textarea type="text" class="form-control h-auto" id="textArea" rows="8" cols="67"
                      placeholder="Комментарии к заказу..."></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="gandikap">
                            <label class="p12-gray" for="gandikap">Гандикап</label>
                        </div>
                    </form>
                <div class="block-btn block-btn-step2 block-btn-step3">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <p class="p12-gray">Подтверждением вашей оплаты является электронное почтовое уведомление,
                            пришедшее после оплаты.</p>
                    </div>
                    <div class="col-12 col-lg-5">
                        <a class="btn-white btn-order" href="checkout2.html">Назад</a>
                        <a class="btn-green btn-order" href="checkout4.html">Продолжить</a>
                    </div>
                </div>
            </div>
                </div>
        </div>

    </div>
</div>