<div class="container container-card-product">
    <h4 class="d-none d-lg-inline-block">Оборудование</h4><span class="p12-gray d-none d-lg-inline-block" style="padding-left: 15px;">227 товаров</span>
    <div class="row">
        <div class="col-12 col-lg-5">
                <div class="detail-product-slider-for">
                    <div>
                        <span>В наличии</span>
                        <img class="img-fluid" src="/img/img-detail.png" alt="">
                    </div>
                    <div>
                        <span>В наличии</span>
                        <img class="img-fluid" src="/img/img-detail.png" alt="">
                    </div>
                    <div>
                        <span>В наличии</span>
                        <img class="img-fluid" src="/img/img-detail.png" alt="">
                    </div>
                </div>
                <div class="detail-product-slider-nav">
                    <div><img class="img-fluid" src="/img/img-detail.png" alt=""></div>
                    <div><img class="img-fluid" src="/img/img-detail.png" alt=""></div>
                    <div><img class="img-fluid" src="/img/img-detail.png" alt=""></div>
                </div>

        </div>
        <div class="col-12 col-lg-7">
<h2>CW Rogue Driver</h2><div class="img-share d-none d-lg-inline-block"><a href=""><img src="/img/share.svg" alt=""></a></div>
            <p class="price-number">20 000 руб.</p>
            <p class="p14-gray">Жесткость шафта</p>
            <p class="text18">Стандартный (Regular)</p>
            <p class="p14-gray">Лофт</p>
            <p class="text18">10,5 (регулируется)</p>
            <p class="p12-gray">Угол между ударной поверхностью головки и вертикалью.<br> Чем больше лофт, тем выше и ближе летит мяч.</p>
            <p class="p14-gray">Шафт</p>
            <p class="text18">Fujikura Speeder Evolution</p>
            <p class="p14-gray">Грип</p>
            <p class="text18">Golf Pride</p>
            <p class="p14-gray">Количество</p>
            <div class="number">
                <span class="minus">-</span>
                <input type="text" value="1" size="5"/>
                <span class="plus">+</span>
            </div>
            <button class="btn-green btn-pay">Добавить в корзину</button>
        </div>
    </div>
</div>