<div class="container container-registration">
    <div class="row">
        <div class="col-12 col-lg-6 order-1 order-lg-2">
            <h3>Регистрация</h3>
            <form action="" class="form-reg-user">
                <div class="form-group">
                    <input type="email" class="form-control" id="emailReg" value="hell@example.ru">
                    <label class="p12-gray" for="emailReg">E-mail</label>
                </div>
                <div class="form-group">
                    <input type="phone" class="form-control" id="phoneReg" placeholder="Телефон">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="gandikapReg" placeholder="Гандикап">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="passwordReg" placeholder="Пароль">
                    <input class="open-password" type="button">
                </div>
                <p>Пароль должен содержать хотя бы одну цифру и заглавную букву</p>
                <div class="form-group">
                    <input type="password" class="form-control" id="passwordRegRepeate" placeholder="Подтверждение пароля">
                    <input class="open-password" type="button">
                </div>
                <input type="button" class="btn-green btn-pay" data-dismiss="modal" value="Зарегистрироваться">
            </form>
        </div>
        <div class="col-12 col-lg-6 border-right order-2 order-lg-1">
        <div class="link-have-account">
            <h2>Уже есть аккаунт?</h2>
            <a class="btn-white btn-enter" href="enter.html">Войти</a>
        </div>
    </div>
    </div>
</div>



