<div class="container-courses container-courses-start">
    <div class="container">
        <div class="article">
            <h3 class="d-inline-block">Начинающий</h3>
            <a class="d-inline-block d-lg-none float-right share-link" href="" style="margin-right: 50px; margin-top: 7px;">
                <img src="/img/share.svg" alt="">
            </a>
            <p class="d-inline-block float-left price-course d-inline-block float-lg-right">25 000 руб</p>
            <div class="d-block w-100 block-table">
                <div class="d-block d-lg-inline-block float-left border-right starting-classes">
                    <p class="p12-gray d-inline-block d-lg-block">Начало занятий</p>
                    <p class="d-inline-block d-lg-block fr-mob">1 мая</p>
                </div>
                <div class="d-block d-lg-inline-block float-left border-right number-classes">
                    <p class="p12-gray d-inline-block d-lg-block">Количество занятий</p>
                    <p class="d-inline-block d-lg-block fr-mob">24</p>
                </div>
                <div class="d-block d-lg-inline-block float-left number-days">
                    <p class="p12-gray d-inline-block d-lg-block">Срок подготовки</p>
                    <p class="d-inline-block d-lg-block fr-mob">30 дней </p>
                </div>
            </div>
            <div class="adress-tren">
                <p class="p12-gray place-classes d-none d-lg-inline-block">Места тренировок</p>
                <a class="d-none d-lg-inline-block float-right share-link" href="">
                    <img src="/img/share.svg" alt="">
                </a>
                <p class="d-none d-lg-block">г. Москва, ул. Ленина 130</p>
            </div>

            <button class="btn-green btn-pay d-inline-block">Добавить в корзину</button>
            <a class="d-block d-lg-inline-block float-lg-right tel-for-course" href="tel:+79133456789">8 913 345 678 89</a>
        </div>
    </div>
</div>