<div class="container">
    <div class="gallery-slider-for">
        <div class="">
            <div class="dropdown position-absolute">
                <a class="share dropdown-link" href="#"><img src="img/share.svg" alt=""></a>
            <div class="btns-socials-gallery dropdown-menu">
                <a class="d-block dropdown-item" href="#"><img src="img/Twitter.svg" alt=""></a>
                <a class="d-block dropdown-item" href="#"><img src="img/facebook.svg" alt=""></a>
                <a class="d-block dropdown-item" href="#"><img src="img/vkontakte.svg" alt=""></a>
            </div>
            </div>
            <img class="img-fluid" src="https://via.placeholder.com/1200x800.png?text=slide-1.1200x800" alt="">
            <div class="img-caption">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus obcaecati, similique. Culpa dolores fugiat laboriosam minus, quidem quod similique totam.
            </div>
        </div>
        <div class="">
            <div class="dropdown position-absolute">
                <a class="share dropdown-link" href="#"><img src="img/share.svg" alt=""></a>
                <div class="btns-socials-gallery dropdown-menu">
                    <a class="d-block dropdown-item" href="#"><img src="img/Twitter.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/facebook.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/vkontakte.svg" alt=""></a>
                </div>
            </div>
            <img class="img-fluid" src="https://via.placeholder.com/1200x800.png?text=slide-2.1200x800" alt="">
            <div class="img-caption">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus obcaecati, similique. Culpa dolores fugiat laboriosam minus, quidem quod similique totam.
            </div>
        </div>
        <div class="">
            <div class="dropdown position-absolute">
                <a class="share dropdown-link" href="#"><img src="img/share.svg" alt=""></a>
                <div class="btns-socials-gallery dropdown-menu">
                    <a class="d-block dropdown-item" href="#"><img src="img/Twitter.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/facebook.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/vkontakte.svg" alt=""></a>
                </div>
            </div>
            <img class="img-fluid" src="https://via.placeholder.com/1200x800.png?text=slide-3.1200x800" alt="">
            <div class="img-caption">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus obcaecati, similique. Culpa dolores fugiat laboriosam minus, quidem quod similique totam.
            </div>
        </div>
        <div class="">
            <div class="dropdown position-absolute">
                <a class="share dropdown-link" href="#"><img src="img/share.svg" alt=""></a>
                <div class="btns-socials-gallery dropdown-menu">
                    <a class="d-block dropdown-item" href="#"><img src="img/Twitter.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/facebook.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/vkontakte.svg" alt=""></a>
                </div>
            </div>
            <img class="img-fluid" src="https://via.placeholder.com/1200x800.png?text=slide-4.1200x800" alt="">
            <div class="img-caption">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus obcaecati, similique. Culpa dolores fugiat laboriosam minus, quidem quod similique totam.
            </div>
        </div>
        <div class="">
            <div class="dropdown position-absolute">
                <a class="share dropdown-link" href="#"><img src="img/share.svg" alt=""></a>
                <div class="btns-socials-gallery dropdown-menu">
                    <a class="d-block dropdown-item" href="#"><img src="img/Twitter.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/facebook.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/vkontakte.svg" alt=""></a>
                </div>
            </div>
            <img class="img-fluid" src="https://via.placeholder.com/1200x800.png?text=slide-5.1200x800" alt="">
            <div class="img-caption">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus obcaecati, similique. Culpa dolores fugiat laboriosam minus, quidem quod similique totam.
            </div>
        </div>
        <div class="">
            <div class="dropdown position-absolute">
                <a class="share dropdown-link" href="#"><img src="img/share.svg" alt=""></a>
                <div class="btns-socials-gallery dropdown-menu">
                    <a class="d-block dropdown-item" href="#"><img src="img/Twitter.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/facebook.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/vkontakte.svg" alt=""></a>
                </div>
            </div>
            <img class="img-fluid" src="https://via.placeholder.com/1200x800.png?text=slide-6.1200x800" alt="">
            <div class="img-caption">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus obcaecati, similique. Culpa dolores fugiat laboriosam minus, quidem quod similique totam.
            </div>
        </div>
        <div class="">
            <div class="dropdown position-absolute">
                <a class="share dropdown-link" href="#"><img src="img/share.svg" alt=""></a>
                <div class="btns-socials-gallery dropdown-menu">
                    <a class="d-block dropdown-item" href="#"><img src="img/Twitter.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/facebook.svg" alt=""></a>
                    <a class="d-block dropdown-item" href="#"><img src="img/vkontakte.svg" alt=""></a>
                </div>
            </div>
            <img class="img-fluid" src="https://via.placeholder.com/1200x800.png?text=slide-7.1200x800" alt="">
            <div class="img-caption">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus obcaecati, similique. Culpa dolores fugiat laboriosam minus, quidem quod similique totam.
            </div>
        </div>
    </div>
    <div class="gallery-slider-nav">
        <div><img class="img-fluid" src="https://via.placeholder.com/240x160.png?text=slide-1.240x160" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/240x160.png?text=slide-2.240x160" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/240x160.png?text=slide-3.240x160" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/240x160.png?text=slide-4.240x160" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/240x160.png?text=slide-5.240x160" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/240x160.png?text=slide-6.240x160" alt=""></div>
        <div><img class="img-fluid" src="https://via.placeholder.com/240x160.png?text=slide-7.240x160" alt=""></div>

    </div>
</div>

