<div class="container-courses">
    <div class="container">
        <div class="article">
            <h3>Уроки в Академии гольфа</h3>
            <p>«Просто хочу бегать» не работает — cразу найдется 100 причин не идти на тренировку. Финишировать в забеге</p>
        </div>
    </div>
</div>
