<div class="container container-like-news container-search">
    <div class="row">
        <div class="col-12 col-lg-4">
            <form class="form-inline form-search">
                <input class="form-control input-search" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-search" type="submit"><img src="/img/search-gray.png" alt=""></button>
            </form>
        </div>
        <div class="col-12 col-lg-8">
            <div class="selectric-search selec">
                <p class="name-select-list-clubs">Сортировка по цене</p>
                <select name="" id="sort-search">
                    <option value="">Сначала дорогие</option>
                </select>
            </div>
        </div>
    </div>
    <ul style="list-style: none; padding-left: 0;">
        <li class="card-like-news card-news">
            <a class="name-sector sector-green link-no-decoration" href="list-news.html">Новости</a>
            <a class="title-news" href="article.html">В Pine Creek состоялся семейный турнир</a>
            <a class="text-news link-no-decoration" href="article.html">в Pine Creek Golf Resort прошёл первый семейный турнир Family Cup. В турнире приняли участие семейные пары и родители с детьми</a>
        </li>
        <li class="card-like-news card-news">
            <a class="name-sector sector-orange link-no-decoration" href="list-news.html">Путешествия</a>
            <a class="title-news" href="article.html">Цены на билеты The Masters 2019 бьют рекорды</a>
            <a class="text-news link-no-decoration" href="article.html">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также купив билеты в рамках специальной лотереи. Если этого не произошло, то за бейдж на неделю вам придется заплатить $12,450.</a>
        </li>
        <li class="card-like-news card-news">
            <a class="name-sector sector-blue link-no-decoration" href="list-news.html">Обучение</a>
            <a class="title-news" href="article.html">«Элементарно, Холмс!». Джей-Би обошёл Вудса и Томаса на Genesis Open</a>
            <a class="text-news link-no-decoration" href="article.html">в Pine Creek Golf Resort прошёл первый семейный турнир Family Cup. В турнире приняли участие семейные пары и родители с детьми </a>
        </li>
        <li class="card-like-news card-news">
            <a class="name-sector sector-green link-no-decoration" href="list-news.html">Новости</a>
            <a class="title-news" href="article.html">В Pine Creek состоялся семейный турнир</a>
            <a class="text-news link-no-decoration" href="article.html">в Pine Creek Golf Resort прошёл первый семейный турнир Family Cup. В турнире приняли участие семейные пары и родители с детьми</a>
        </li>
        <li class="card-like-news card-news">
            <a class="name-sector sector-orange link-no-decoration" href="list-news.html">Путешествия</a>
            <a class="title-news" href="article.html">Цены на билеты The Masters 2019 бьют рекорды</a>
            <a class="text-news link-no-decoration" href="article.html">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также купив билеты в рамках специальной лотереи. Если этого не произошло, то за бейдж на неделю вам придется заплатить $12,450.</a>
        </li>
        <li class="card-like-news card-news">
            <a class="name-sector sector-blue link-no-decoration" href="list-news.html">Обучение</a>
            <a class="title-news" href="article.html">«Элементарно, Холмс!». Джей-Би обошёл Вудса и Томаса на Genesis Open</a>
            <a class="text-news link-no-decoration" href="article.html">в Pine Creek Golf Resort прошёл первый семейный турнир Family Cup. В турнире приняли участие семейные пары и родители с детьми </a>
        </li>
    </ul>
</div>