<div class="container container-checkout">
    <h4>Оформление заказа</h4>
    <div class="row">
        <div class="col-12 col-lg-4 order-lg-2">
            <div class="row col-sum">
                <div class="col-6">
                    <p class="sum-order">Сумма</p>
                </div>
                <div class="col-6">
                    <p class="price-number">6 000<img src="/img/ruble.png" alt=""></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 order-lg-1">
            <div class="table-checkout">
                <div class="table-checkout-head text18 check-green">Товары в заказе</div>
                <div class="checkout-order">
                    <div class="row">
                        <div class="col-5 col-lg-3">
                            <div class="img-order"><img class="img-fluid" src="/img/peterhof.png" alt=""></div>
                        </div>
                        <div class="col-7 col-lg-6">
                            <div class="desctiption-order">
                                <p class="name-product">Peterhof golfclub</p>
                                <div class="row row-description">
                                    <div class="col-12 col-lg-4">
                                        <p class="text-description-gray">Гольф-клуб</p>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <p class="text-description-black">Московский гольф-глуб </p>
                                    </div>
                                </div>
                                <div class="row row-description">
                                    <div class="col-12 col-lg-4">
                                        <p class="text-description-gray">Город</p>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <p class="text-description-black">Москва, Россия </p>
                                    </div>
                                </div>
                                <div class="row row-description">
                                    <div class="col-12 col-lg-4">
                                        <p class="text-description-gray">Дата</p>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <p class="text-description-black">14.04.19</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="price-product-all row">
                                <div class="col-6 col-lg-12">
                                    <p class="price-to-members">Для членов клуба</p>
                                    <p class="price-number">2 000 <img src="/img/ruble.png" alt=""></p>
                                </div>
                               <div class="col-6 col-lg-12">
                                   <p class="sum-number">Сумма: <span>4 000  <img src="/img/ruble.png" alt=""></span></p>
                                   <div class="number">
                                       <span class="minus">-</span>
                                       <input type="text" value="1" size="5"/>
                                       <span class="plus">+</span>
                                   </div>
                               </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout-order">
                    <div class="row">
                        <div class="col-5 col-lg-3">
                            <div class="img-order"><img class="img-fluid" src="/img/peterhof.png" alt=""></div>
                        </div>
                        <div class="col-7 col-lg-6">
                            <div class="desctiption-order">
                                <p class="name-product">Peterhof golfclub</p>
                                <div class="row row-description">
                                    <div class="col-12 col-lg-4">
                                        <p class="text-description-gray">Гольф-клуб</p>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <p class="text-description-black">Московский гольф-глуб </p>
                                    </div>
                                </div>
                                <div class="row row-description">
                                    <div class="col-12 col-lg-4">
                                        <p class="text-description-gray">Город</p>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <p class="text-description-black">Москва, Россия </p>
                                    </div>
                                </div>
                                <div class="row row-description">
                                    <div class="col-12 col-lg-4">
                                        <p class="text-description-gray">Дата</p>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <p class="text-description-black">14.04.19</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="price-product-all row">
                                <div class="col-6 col-lg-12">
                                    <p class="price-to-members">Для членов клуба</p>
                                    <p class="price-number">2 000 <img src="/img/ruble.png" alt=""></p>
                                </div>
                                <div class="col-6 col-lg-12">
                                    <p class="sum-number">Сумма: <span>4 000  <img src="/img/ruble.png" alt=""></span></p>
                                    <div class="number">
                                        <span class="minus">-</span>
                                        <input type="text" value="1" size="5"/>
                                        <span class="plus">+</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="block-btn">
                    <a class="btn-green btn-load d-inline-block" href="checkout2.html">Продолжить</a>
                </div>
            </div>
            <div class="checkout-head text18 check-gray">Оплата</div>
            <div class="checkout-head text18 check-gray">Покупатель</div>
        </div>
    </div>

</div>