<div class="calendar-slider-news">
    <div class="slide-event card-news">
        <div class="row">
            <div class="col-12 col-lg-4">
                <a href="">
                    <img class="img-fluid img-calendar-slider" src="/img/content/calendar3.svg" alt="">
                </a>
            </div>
            <div class="col-12 col-lg-8">
                <a class="event-date d-none d-lg-block" href="">18.02.18</a>
                <a class="event-name d-block" href="">III Турнир I этапа Cнегири</a>
                <a class="event-date d-block d-lg-none p12-gray" href="">18.02.18</a>
            </div>
        </div>
    </div>
    <div class="slide-event card-news">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <a href="">
                        <img class="img-fluid img-calendar-slider" src="/img/content/calendar4.svg" alt="">
                    </a>
                </div>
                <div class="col-12 col-lg-8">
                    <a class="event-date d-none d-lg-block" href="">18.02.18</a>
                    <a class="event-name d-block" href="">III Турнир I этапа Cнегири</a>
                    <a class="event-date d-block d-lg-none p12-gray" href="">18.02.18</a>
                </div>
            </div>
    </div>
    <div class="slide-event card-news">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <a href="">
                        <img class="img-fluid img-calendar-slider" src="/img/content/snegiri.svg" alt="">
                    </a>
                </div>
                <div class="col-12 col-lg-8">
                    <a class="event-date d-none d-lg-block" href="">18.02.18</a>
                    <a class="event-name d-block" href="">III Турнир I этапа Cнегири</a>
                    <a class="event-date d-block d-lg-none p12-gray" href="">18.02.18</a>
                </div>
            </div>
    </div>
    <div class="slide-event card-news">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <a href="">
                        <img class="img-fluid img-calendar-slider" src="/img/content/duni.svg" alt="">
                    </a>
                </div>
                <div class="col-12 col-lg-8">
                    <a class="event-date d-none d-lg-block" href="">18.02.18</a>
                    <a class="event-name d-block" href="">III Турнир I этапа Cнегири</a>
                    <a class="event-date d-block d-lg-none p12-gray" href="">18.02.18</a>
                </div>
            </div>
    </div>
    <div class="slide-event card-news">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <a href="">
                        <img class="img-fluid img-calendar-slider" src="/img/img-calendar-slider.png" alt="">
                    </a>
                </div>
                <div class="col-12 col-lg-8">
                    <a class="event-date d-none d-lg-block" href="">18.02.18</a>
                    <a class="event-name d-block" href="">III Турнир I этапа Cнегири</a>
                    <a class="event-date d-block d-lg-none p12-gray" href="">18.02.18</a>
                </div>
            </div>
    </div>
    <div class="slide-event card-news">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <a href="">
                        <img class="img-fluid img-calendar-slider" src="/img/img-calendar-slider.png" alt="">
                    </a>
                </div>
                <div class="col-12 col-lg-8">
                    <a class="event-date d-none d-lg-block" href="">18.02.18</a>
                    <a class="event-name d-block" href="">III Турнир I этапа Cнегири</a>
                    <a class="event-date d-block d-lg-none p12-gray" href="">18.02.18</a>
                </div>
            </div>
    </div>
    <div class="slide-event card-news">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <a href="">
                        <img class="img-fluid img-calendar-slider" src="/img/img-calendar-slider.png" alt="">
                    </a>
                </div>
                <div class="col-12 col-lg-8">
                    <a class="event-date d-none d-lg-block" href="">18.02.18</a>
                    <a class="event-name d-block" href="">III Турнир I этапа Cнегири</a>
                    <a class="event-date d-block d-lg-none p12-gray" href="">18.02.18</a>
                </div>
            </div>
    </div>
</div>
