<div class="catalog-filter d-none d-lg-block">
    <form action="">
        <p class="name-filter-section">Цена</p>
        <input class="price-filter" type="text">
        <span>-</span>
        <input class="price-filter" type="text">
        <div class="border-bottom"></div>
        <p class="name-filter-section">Бренды (47)</p>
        <div class="form-check input-filter">
            <input class="form-check-input" type="checkbox" name="" id="brandAdams" value="option1">
            <label class="form-check-label" for="brandAdams">
                Adams
            </label>
        </div>
        <div class="form-check input-filter">
            <input class="form-check-input" type="checkbox" name="" id="brandBridgestone" value="option2">
            <label class="form-check-label" for="brandBridgestone">
                Bridgestone
            </label>
        </div>
        <div class="form-check input-filter">
            <input class="form-check-input" type="checkbox" name="" id="brandCallaway" value="option3">
            <label class="form-check-label" for="brandCallaway">
                Callaway
            </label>
        </div>
        <div class="form-check input-filter">
            <input class="form-check-input" type="checkbox" name="" id="brandCleveland" value="option4">
            <label class="form-check-label" for="brandCleveland">
                Cleveland
            </label>
        </div>
        <div class="border-bottom"></div>
        <p class="name-filter-section">Для кого</p>
        <div class="form-check input-filter">
            <input class="form-check-input" type="checkbox" name="" id="forMen" value="option1">
            <label class="form-check-label" for="forMen">
                Для мужчин
            </label>
        </div>
        <div class="form-check input-filter">
            <input class="form-check-input" type="checkbox" name="" id="forWomen" value="option2">
            <label class="form-check-label" for="forWomen">
                Для женщин
            </label>
        </div>
        <div class="form-check input-filter">
            <input class="form-check-input" type="checkbox" name="" id="forChildren" value="option3">
            <label class="form-check-label" for="forChildren">
                Для детей
            </label>
        </div>
        <div class="border-bottom"></div>
        <p class="name-filter-section">Прочее</p>
        <div class="form-check input-filter">
            <input class="form-check-input" type="checkbox" name="" id="leftHand" value="option3">
            <label class="form-check-label" for="leftHand">
                Левша
            </label>
        </div>
        <div class="form-check input-filter">
            <input class="form-check-input" type="checkbox" name="" id="rightHand" value="option3">
            <label class="form-check-label" for="rightHand">
                Правша
            </label>
        </div>
        <div class="form-check input-filter">
            <input class="form-check-input" type="checkbox" name="" id="universalHand" value="option3">
            <label class="form-check-label" for="universalHand">
                Универсальный
            </label>
        </div>
    </form>

</div>