<div class="bg-gray bg-gray-turnir-detail">
    <div class="container container-read-also container-read-also-article">
        <h3>Читайте также</h3>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="read-also-card news-link">
                    <a href="article.html">
                        <img class="img-fluid" src="/img/content/newh1.svg" alt="">
                    </a>
                    <a class="text-read-also" href="article.html">Европейские звезды впервые знакомятся с новыми првавилами гольфа</a>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="read-also-card news-link">
                    <a href="article.html">
                        <img class="img-fluid" src="/img/content/newh2.svg" alt="">
                    </a>
                    <a class="text-read-also" href="article.html">В новый сезон с новыми клюшками.  Чего ждать от Тайгера Вудса  в его первом турнире?</a>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="read-also-card news-link">
                    <a href="article.html">
                        <img class="img-fluid" src="/img/content/newh3.svg" alt="">
                    </a>
                    <a class="text-read-also" href="article.html">Лучший раунд в карьере. Микелсон  нанёс 60 ударов!</a>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="read-also-card news-link">
                    <a href="article.html">
                        <img class="img-fluid" src="/img/content/newh1.svg" alt="">
                    </a>
                    <a class="text-read-also" href="article.html">Европейские звезды впервые знакомятся с новыми првавилами гольфа</a>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="read-also-card news-link">
                    <a href="article.html">
                        <img class="img-fluid" src="/img/content/newh2.svg" alt="">
                    </a>
                    <a class="text-read-also" href="article.html">В новый сезон с новыми клюшками.  Чего ждать от Тайгера Вудса  в его первом турнире?</a>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="read-also-card news-link">
                    <a href="article.html">
                        <img class="img-fluid" src="/img/content/newh3.svg" alt="">
                    </a>
                    <a class="text-read-also" href="article.html">Лучший раунд в карьере. Микелсон  нанёс 60 ударов!</a>
                </div>
            </div>
        </div>
    </div>
</div>