<div class="container">
    <div class="row row-first-course">
        <div class="col-12 col-lg-8">
            <div class="card-course course-link">
                <a href="courses_start.html">
                    <div class="days-left">
                        до начала 2 дня
                    </div>
                    <img class="img-fluid" src="/img/image-course.png" alt="">
                </a>
                <div class="description-course">
                    <a class="date link-no-decoration" href="courses_start.html">29.09.19</a>
                    <a class="name-course" href="courses_start.html">Урок для начинающих в «Сколково»</a><span><a class="link-no-decoration" href="">20 000 руб</a></span>
                    <a class="text-course link-no-decoration" href="courses_start.html">Гольф-клуб «Сколково» завершил пятый юбилейный сезон масштабной</a>
                    <a class="d-lg-none more-about-course" href="courses_start.html">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card-course card-course-mini course-link">
                <a class="" href="courses_start.html">
                    <img class="img-fluid" src="/img/content/img-course-mini.svg" alt="">
                </a>
                    <div class="description-course">
                        <a class="date link-no-decoration" href="courses_start.html">12.01.18</a>
                        <a class="name-course" href="courses_start.html">Название семинара</a>
                        <a class="price-course link-no-decoration" href="courses_start.html">20 000 руб</a>
                        <a class="text-course link-no-decoration" href="courses_start.html">Вы давно хотели попробовать занятия гольфом — тогда этот курс для вас. Вы
                            узнаете все о гольф-клюшках, научитесь правильной биомеханике красивого удара</a>
                        <a class="more-about-course" href="courses_start.html">Подробнее</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card-course card-course-mini course-link">
                <a class="" href="courses_start.html">
                    <img class="img-fluid" src="/img/content/img-course-mini.svg" alt="">
                </a>
                <div class="description-course">
                    <a class="date link-no-decoration" href="courses_start.html">12.01.18</a>
                    <a class="name-course" href="courses_start.html">Название семинара</a>
                    <a class="price-course link-no-decoration" href="courses_start.html">20 000 руб</a>
                    <a class="text-course link-no-decoration" href="courses_start.html">Вы давно хотели попробовать занятия гольфом — тогда этот курс для вас. Вы
                        узнаете все о гольф-клюшках, научитесь правильной биомеханике красивого удара</a>
                    <a class="more-about-course" href="courses_start.html">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card-course card-course-mini course-link">
                <a class="" href="courses_start.html">
                    <img class="img-fluid" src="/img/content/img-course-mini.svg" alt="">
                </a>
                <div class="description-course">
                    <a class="date link-no-decoration" href="courses_start.html">12.01.18</a>
                    <a class="name-course" href="courses_start.html">Название семинара</a>
                    <a class="price-course link-no-decoration" href="courses_start.html">20 000 руб</a>
                    <a class="text-course link-no-decoration" href="courses_start.html">Вы давно хотели попробовать занятия гольфом — тогда этот курс для вас. Вы
                        узнаете все о гольф-клюшках, научитесь правильной биомеханике красивого удара</a>
                    <a class="more-about-course" href="courses_start.html">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card-course card-course-mini course-link">
                <a class="" href="courses_start.html">
                    <img class="img-fluid" src="/img/content/img-course-mini.svg" alt="">
                </a>
                <div class="description-course">
                    <a class="date link-no-decoration" href="courses_start.html">12.01.18</a>
                    <a class="name-course" href="courses_start.html">Название семинара</a>
                    <a class="price-course link-no-decoration" href="courses_start.html">20 000 руб</a>
                    <a class="text-course link-no-decoration" href="courses_start.html">Вы давно хотели попробовать занятия гольфом — тогда этот курс для вас. Вы
                        узнаете все о гольф-клюшках, научитесь правильной биомеханике красивого удара</a>
                    <a class="more-about-course" href="courses_start.html">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card-course card-course-mini course-link">
                <a class="" href="courses_start.html">
                    <img class="img-fluid" src="/img/content/img-course-mini.svg" alt="">
                </a>
                <div class="description-course">
                    <a class="date link-no-decoration" href="courses_start.html">12.01.18</a>
                    <a class="name-course" href="courses_start.html">Название семинара</a>
                    <a class="price-course link-no-decoration" href="courses_start.html">20 000 руб</a>
                    <a class="text-course link-no-decoration" href="courses_start.html">Вы давно хотели попробовать занятия гольфом — тогда этот курс для вас. Вы
                        узнаете все о гольф-клюшках, научитесь правильной биомеханике красивого удара</a>
                    <a class="more-about-course" href="courses_start.html">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card-course card-course-mini course-link">
                <a class="" href="courses_start.html">
                    <img class="img-fluid" src="/img/content/img-course-mini.svg" alt="">
                </a>
                <div class="description-course">
                    <a class="date link-no-decoration" href="courses_start.html">12.01.18</a>
                    <a class="name-course" href="courses_start.html">Название семинара</a>
                    <a class="price-course link-no-decoration" href="courses_start.html">20 000 руб</a>
                    <a class="text-course link-no-decoration" href="courses_start.html">Вы давно хотели попробовать занятия гольфом — тогда этот курс для вас. Вы
                        узнаете все о гольф-клюшках, научитесь правильной биомеханике красивого удара</a>
                    <a class="more-about-course" href="courses_start.html">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card-course card-course-mini course-link">
                <a class="" href="courses_start.html">
                    <img class="img-fluid" src="/img/content/img-course-mini.svg" alt="">
                </a>
                <div class="description-course">
                    <a class="date link-no-decoration" href="courses_start.html">12.01.18</a>
                    <a class="name-course" href="courses_start.html">Название семинара</a>
                    <a class="price-course link-no-decoration" href="courses_start.html">20 000 руб</a>
                    <a class="text-course link-no-decoration" href="courses_start.html">Вы давно хотели попробовать занятия гольфом — тогда этот курс для вас. Вы
                        узнаете все о гольф-клюшках, научитесь правильной биомеханике красивого удара</a>
                    <a class="more-about-course" href="courses_start.html">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    @@include('_comp_pagination.html')
</div>