<div class="container calendar">
    <h3 class="title-with-line d-none d-lg-block"><span>Календарь</span></h3>
    <div class="row">
        <div class="col-12 col-lg-8 order-lg-2">
            <div class="row calendar-tile">
                <div class="col-6 col-lg-4">
                    <div class="card-news">
                        <a href="turnir.html">
                            <img class="img-fluid" src="/img/content/rn1.svg" alt="">
                        </a>
                        <a class="event-date d-none d-lg-block link-no-decoration" href="turnir.html">Сегодня</a>
                        <a class="event-name" href="turnir.html">RNGC Winter Series</a>
                        <a class="event-place p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">Московский городской гольф клуб
                        </a>
                        <a class="event-date d-lg-none p12-gray">Сегодня</a>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="card-news">
                        <a href="turnir.html">
                            <img class="img-fluid" src="/img/content/rn2.svg" alt="">
                        </a>
                        <a class="event-date d-none d-lg-block link-no-decoration" href="turnir.html">Сегодня</a>
                        <a class="event-name" href="turnir.html">RNGC Winter Series</a>
                        <a class="event-place p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">Московский городской гольф клуб
                        </a>
                        <a class="event-date d-lg-none p12-gray">Сегодня</a>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="card-news">
                        <a href="turnir.html">
                            <img class="img-fluid" src="/img/content/rn3.svg" alt="">
                        </a>
                        <a class="event-date d-none d-lg-block link-no-decoration" href="turnir.html">Сегодня</a>
                        <a class="event-name" href="turnir.html">RNGC Winter Series</a>
                        <a class="event-place p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">Московский городской гольф клуб
                        </a>
                        <a class="event-date d-lg-none p12-gray">Сегодня</a>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="card-news">
                        <a href="turnir.html">
                            <img class="img-fluid" src="/img/content/rn4.svg" alt="">
                        </a>
                        <a class="event-date d-none d-lg-block link-no-decoration" href="turnir.html">Сегодня</a>
                        <a class="event-name" href="turnir.html">RNGC Winter Series</a>
                        <a class="event-place p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">Московский городской гольф клуб
                        </a>
                        <a class="event-date d-lg-none p12-gray">Сегодня</a>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="card-news">
                        <a href="turnir.html">
                            <img class="img-fluid" src="/img/content/rn5.svg" alt="">
                        </a>
                        <a class="event-date d-none d-lg-block link-no-decoration" href="turnir.html">Сегодня</a>
                        <a class="event-name" href="turnir.html">RNGC Winter Series</a>
                        <a class="event-place p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">Московский городской гольф клуб
                        </a>
                        <a class="event-date d-lg-none p12-gray">Сегодня</a>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="card-news">
                        <a href="turnir.html">
                            <img class="img-fluid" src="/img/content/rn6.svg" alt="">
                        </a>
                        <a class="event-date d-none d-lg-block link-no-decoration" href="turnir.html">Сегодня</a>
                        <a class="event-name" href="turnir.html">RNGC Winter Series</a>
                        <a class="event-place p12-gray d-none d-lg-block link-no-decoration" href="turnir.html">Московский городской гольф клуб
                        </a>
                        <a class="event-date d-lg-none p12-gray">Сегодня</a>
                    </div>
                </div>
            </div>
            <div class="weather d-none d-lg-block">
                <h5>LONDON WEATHER</h5>
            </div>
        </div>
        <div class="col-12 d-md-none">
            <div class="banner">
                <a href="#">
                    <img class="img-fluid d-block m-auto" src="/img/banner-adidas-mob.png" alt="">
                </a>
            </div>
            <div class="card-news mt-5">
                <a href="article.html">
                    <img class="img-fluid" src="/img/content/news2.png" alt="">
                </a>
                <a class="name-sector sector-orange link-no-decoration" href="list-news.html">
                    Путешествия
                </a>
                <a class="title-news" href="article.html">
                    Цены на билеты The Masters 2019 бьют рекорды
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-4 order-lg-1">
            <h3 class="title-with-line d-lg-none">Календарь</h3>
           @@include('_comp_calendar-slider-index.html')
        </div>


    </div>
</div>