<div class="bg-calendar-filter">
    <div class="container">
        <h1>Календарь турниров</h1>
        <div class="row">
            <div class="col-12 col-lg-4">
                <p class="name-filter">Дата</p>
                <!--<input class="date-filter" type="text">-->
                <input type="text" data-range="true" data-multiple-dates-separator=" - " class="datepicker-here date-filter" data-date-format="dd MM" />
                <!--<input class="date-filter" type="text" name="daterange" value=""/>-->
                <div class="display" id="date_range"></div>

            </div>
            <div class="col-12 col-lg-4 col-club">
                <p class="name-filter">Гольф-клуб</p>
                <select name="" id="clubs">
                    <option value="">Все клубы</option>
                </select>
            </div>
            <div class="col-12 col-lg-4 col-sort">
                <p class="name-filter">Сортировка</p>
                <select name="" id="sort">
                    <option value="">Профессиональные</option>
                </select>
            </div>
        </div>
    </div>
</div>