<div class="bg-gray">
<div class="container other-clubs">
    <h3>Другие гольф-клубы</h3>
    <div class="other-clubs-slider">
        <div class="link-club">
            <a  href="golf-club.html">
            <img src="/img/club.png" alt="">
            </a>
            <div>
                <img class="d-inline-block star" src="/img/star.png" alt="">
                <img class="d-inline-block star" src="/img/star.png" alt="">
                <img class="d-inline-block star" src="/img/star.png" alt="">
                <img class="d-inline-block star" src="/img/star.png" alt="">
                <img class="d-inline-block star" src="/img/star.png" alt="">
            </div>
            <a class="name-club" href="golf-club.html">Гольф клуб Пирогово</a>
        </div>
        <div class="link-club">
            <a href="golf-club.html">
                <img src="/img/club.png" alt="">
            </a>
                <div>
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
                <a class="name-club" href="golf-club.html">Московский городской Гольф Клуб</a>
        </div>
        <div class="link-club">
            <a href="golf-club.html">
                <img src="/img/club.png" alt="">
            </a>
                <div>
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
                <a class="name-club" href="golf-club.html">Целеево Гольф и Поло Клуб</a>
        </div>
        <div class="link-club">
            <a href="golf-club.html">
                <img src="/img/club.png" alt="">
            </a>
                <div>
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
                <a class="name-club" href="golf-club.html">Agalarov Golf & Country Club</a>
        </div>
        <div class="link-club">
            <a href="golf-club.html">
                <img src="/img/club.png" alt="">
            </a>
                <div>
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
                <a class="name-club" href="golf-club.html">Гольф клуб Пирогово</a>
        </div>
    </div>
</div>
</div>