<div class="container container-cabinet">
    <h4>Личный кабинет</h4>
    <div class="row">
        <div class="col-12 col-lg-4 order-lg-2">
        @@include('_comp_cabinet-menu.html')
    </div>
        <div class="col-12 col-lg-8 order-lg-1">
            <div class="table-history">
                <div class="table-history-head text18">Текущие заказы</div>
                <div class="order">
                    <div class="row">
                        <div class="col-5 col-lg-3">
                            <div class="img-order"><img class="img-fluid" src="/img/peterhof.png" alt=""></div>
                        </div>
                        <div class="col-7 col-lg-9">
                            <div class="desctiption-order">
                                <p class="status-order">Оплачено</p>
                                <p class="name-product">Peterhof golfclub</p>
                                <p class="plase-product p12-gray" style="margin-bottom: 3px;">Москва, Россия</p>
                                <button class="btn-white btn-more">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order">
                    <div class="row">
                        <div class="col-5 col-lg-3">
                            <div class="img-order"><img class="img-fluid" src="/img/peterhof.png" alt=""></div>
                        </div>
                        <div class="col-7 col-lg-9">
                            <div class="desctiption-order">
                                <p class="status-order">Оплачено</p>
                                <p class="name-product">Peterhof golfclub</p>
                                <p class="plase-product p12-gray" style="margin-bottom: 3px;">Москва, Россия</p>
                                <button class="btn-white btn-more">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>