<div class="cabinet-menu">
    <a class="link-cabinet-menu" href="cabinet-history.html"><img src="/img/i-histori.png" alt="">История заказов</a>
    <a class="link-cabinet-menu" href="cabinet-orders.html"><img src="/img/i-orders.png" alt="">Текущие заказы</a>
    <a class="link-cabinet-menu" href="cabinet-user.html"><img src="/img/i-user.png" alt="">Личные данные</a>
    <!--<a class="link-cabinet-menu" href="cabinet-contacts.html"><img src="/img/phone.png" alt="">Контакты</a>-->
</div>