<div class="container">
    <div class="container-main-banner">
        <div class="row row-main-banner">
            <div class="col-12 col-lg-9 pr-0">
                <div class="banner">
                            <div class="article">
                                <a href="list-news.html">
                                <h6 class="news-name">Новости</h6>
                                </a>
                                <a class="link-no-decoration" href="article.html">
                                <p class="news-text">Гольф - это зависимость, которая стала стилем жизни". Юлия Кириленко установила рекорд среди
                                    читателей Golfmir.ru</p>
                                </a>
                            </div>
                </div>
            </div>
            <div class="col-12 d-lg-none">
                <div class="article-mob">
                    <a href="list-news.html">
                        <h6 class="news-name">Новости</h6>
                    </a>
                    <a href="article.html">
                        <p class="news-text">Гольф - это зависимость, которая стала стилем жизни". Юлия Кириленко установила рекорд среди
                            читателей Golfmir.ru</p>
                    </a>

                </div>
            </div>
            <div class="col-12 col-lg-3 pl-0 col-form-pull">
                <div class="pull">
                    <img class="g-img" src="/img/g.png" alt="">
                    <a class="social social-in" href=""></a>
                    <a class="social social-fb" href=""></a>
                    <form class="form-pull">
                        <p class="pull-question">Какой лучший <br> гольф-клуб Москвы?</p>
                        <div class="form-check input-pull">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="radio1" value="option1" checked>
                            <label class="form-check-label" for="radio1">
                                Skolkovo golf club
                            </label>
                        </div>
                        <div class="form-check input-pull">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="radio2" value="option2">
                            <label class="form-check-label" for="radio2">
                                Zavidovo PGA National
                            </label>
                        </div>
                        <div class="form-check input-pull">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="radio3" value="option3">
                            <label class="form-check-label" for="radio3">
                                Forest Hills
                            </label>
                        </div>
                        <div class="form-check input-pull">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="radio4" value="option2">
                            <label class="form-check-label" for="radio4">
                                Pestovo Golf Club
                            </label>
                        </div>
                        <p><input class="btn-white btn-pull" type="submit" value="Отправить"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

