<div class="container">
    <div class="container-sort-courses">
        <div class="filters-mob d-lg-none">
            <p class="to-all-filters">Фильтры</p>
        </div>
        <div class="row mod-selectric selectric-mob">
            <div class="col-12 col-lg-4">
                <div class="selectric1 selec">
                    <p class="name-select-list-clubs">Сортировка по дате</p>
                    <select name="" id="sort-date">
                        <option value="">Сначала новые</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="selectric2 selec">
                    <p class="name-select-list-clubs">Сортировка по цене</p>
                    <select name="" id="sort-price">
                        <option value="">Сначала дорогие</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="selectric3 selec">
                    <p class="name-select-list-clubs">Направление занятий</p>
                    <select name="" id="sort-place">
                        <option value="">Выбор направления</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>