<div class="container container-list-clubs">
    <div class="row mod-selectric">
        <div class="col-12 col-lg-3">
            <div class="selectric1">
                <p class="name-select-list-clubs">Континент</p>
                <select name="" id="continent">
                    <option value="">Европа</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="selectric2">
                <p class="name-select-list-clubs">Страна</p>
                <select name="" id="country">
                    <option value="">Россия</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-list-clubs">
        <div class="col-12 col-lg-3">
            <div class="club-card">
                <a href="golf-club.html">
                    <img class="img-fluid" src="/img/img-calendar.png" alt="">
                </a>
            <div>
                <img class="d-inline-block star" src="/img/star.png" alt="">
                <img class="d-inline-block star" src="/img/star.png" alt="">
                <img class="d-inline-block star" src="/img/star.png" alt="">
                <img class="d-inline-block star" src="/img/star.png" alt="">
                <img class="d-inline-block star" src="/img/star.png" alt="">
            </div>
            <a class="link-club d-block" href="golf-club.html">RNGC Winter Series</a>
            <a class="p12-gray name-club link-no-decoration" href="golf-club.html">Московский городской клуб</a>
            <a href="" class="look-to-map d-block">Показать на карте</a>
        </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="club-card">
                <a href="golf-club.html">
                    <img class="img-fluid" src="/img/content/rn2.svg" alt="">
                </a>
                <div>
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
                <a class="link-club d-block" href="golf-club.html">RNGC Winter Series</a>
                <a class="p12-gray name-club link-no-decoration" href="golf-club.html">Московский городской клуб</a>
                <a href="" class="look-to-map d-block">Показать на карте</a>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="club-card">
                <a href="golf-club.html">
                    <img class="img-fluid" src="/img/content/rn3.svg" alt="">
                </a>
                <div>
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
                <a class="link-club d-block" href="golf-club.html">RNGC Winter Series</a>
                <a class="p12-gray name-club link-no-decoration" href="golf-club.html">Московский городской клуб</a>
                <a href="" class="look-to-map d-block">Показать на карте</a>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="club-card">
                <a href="golf-club.html">
                    <img class="img-fluid" src="/img/content/rn6.svg" alt="">
                </a>
                <div>
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
                <a class="link-club d-block" href="golf-club.html">RNGC Winter Series</a>
                <a class="p12-gray name-club link-no-decoration" href="golf-club.html">Московский городской клуб</a>
                <a href="" class="look-to-map d-block">Показать на карте</a>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="club-card">
                <a href="golf-club.html">
                    <img class="img-fluid" src="/img/content/rn4.svg" alt="">
                </a>
                <div>
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
                <a class="link-club d-block" href="golf-club.html">RNGC Winter Series</a>
                <a class="p12-gray name-club link-no-decoration" href="golf-club.html">Московский городской клуб</a>
                <a href="" class="look-to-map d-block">Показать на карте</a>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="club-card">
                <a href="golf-club.html">
                    <img class="img-fluid" src="/img/content/rn5.svg" alt="">
                </a>
                <div>
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
                <a class="link-club d-block" href="golf-club.html">RNGC Winter Series</a>
                <a class="p12-gray name-club link-no-decoration" href="golf-club.html">Московский городской клуб</a>
                <a href="" class="look-to-map d-block">Показать на карте</a>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="club-card">
                <a href="golf-club.html">
                    <img class="img-fluid" src="/img/content/club8.svg" alt="">
                </a>
                <div>
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
                <a class="link-club d-block" href="golf-club.html">RNGC Winter Series</a>
                <a class="p12-gray name-club link-no-decoration" href="golf-club.html">Московский городской клуб</a>
                <a href="" class="look-to-map d-block">Показать на карте</a>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="club-card">
                <a href="golf-club.html">
                    <img class="img-fluid" src="/img/content/rn6.svg" alt="">
                </a>
                <div>
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
                <a class="link-club d-block" href="golf-club.html">RNGC Winter Series</a>
                <a class="p12-gray name-club link-no-decoration" href="golf-club.html">Московский городской клуб</a>
                <a href="" class="look-to-map d-block">Показать на карте</a>
            </div>
        </div>
    </div>
</div>