<div class="container container-password-recovery">
    <div class="row">
        <div class="col-12 col-lg-6 border-right">
            <h3>Восстановление пароля</h3>
            <form action="" class="form-recovery">
                <div class="form-group">
                    <input type="email" class="form-control" id="emailRecovery" value="hell@example.ru">
                    <label class="p12-gray" for="emailRecovery">E-mail</label>
                </div>
                <input type="button" class="btn-green btn-pay" data-dismiss="modal" value="Отправить пароль">
                <a class="forget-password" id="backToAuthorization" href="enter.html">Вернуться к авторизации</a>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <div class="link-have-account">
                <h2>Еще нет аккаунта?</h2>
                <a class="btn-white btn-registration" href="registration.html">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>

