<div class="container container-checkout">
    <h4>Оформление заказа</h4>
    <div class="row">
        <div class="col-12 col-lg-4 order-lg-2">
        <div class="row col-sum">
            <div class="col-6">
                <p class="sum-order">Сумма</p>
            </div>
            <div class="col-6">
                <p class="price-number">6 000<img src="/img/ruble.png" alt=""></p>
            </div>
        </div>
    </div>
        <div class="col-12 col-lg-8 order-lg-1">
            <div class="table-checkout">
                <div class="table-checkout-head text18 check-green-round">Товары в заказе
                    <a class="change" href="">Изменить</a></div>
                <div class="checkout-order checkout2-order">
                    <div class="row">
                        <div class="col-5 col-lg-3">
                            <div class="img-order"><img class="img-fluid" src="/img/peterhof.png" alt=""></div>
                        </div>
                        <div class="col-7 col-lg-6">
                            <div class="desctiption-order">
                                <p class="name-product">Peterhof golfclub</p>
                                <p class="p12-gray">Москва, Россия</p>
                                <p class="price-to-members">Для членов клуба</p>
                                <p class="price-number">2 000 <img src="/img/ruble.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout-order checkout2-order">
                    <div class="row">
                        <div class="col-5 col-lg-3">
                            <div class="img-order"><img class="img-fluid" src="/img/peterhof.png" alt=""></div>
                        </div>
                        <div class="col-7 col-lg-6">
                            <div class="desctiption-order">
                                <p class="name-product">Peterhof golfclub</p>
                                <p class="p12-gray">Москва, Россия</p>
                                <p class="price-to-members">Для членов клуба</p>
                                <p class="price-number">2 000 <img src="/img/ruble.png" alt=""></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-checkout">
                <div class="checkout-head text18 check-green checkout-head-pay">Оплата</div>
                <div class="change-pay">
                    <div class="form-check form-check-margin-right">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="Check1" value="option1"
                               checked>
                        <label class="form-check-label" for="Check1">
                            <img class="visa" src="/img/visa.png">
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="Check2" value="option2">
                        <label class="form-check-label" for="Check2">
                            <img class="sberbank" src="/img/sber.png">
                        </label>
                    </div>
                </div>
                <div class="block-btn block-btn-step2">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <p class="p12-gray">Подтверждением вашей оплаты является электронное почтовое уведомление,
                                пришедшее после оплаты.</p>
                        </div>
                        <div class="col-12 col-lg-5">
                            <a class="btn-white btn-order" href="checkout1.html">Назад</a>
                            <a class="btn-green btn-order" href="checkout3.html">Продолжить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout-head text18 check-gray">Покупатель</div>


        </div>

    </div>

</div>