<div class="container container-catalog">
    <h3 class="d-inline-block">Категории товаров</h3><span class="p12-gray" style="padding-left: 10px;">7 категорий</span>
    <div class="all-catalog">
            <div class="row catalog">
                <div class="col-12 col-lg-3">
                    <a href="equipment-detail.html">
                        <div class="card-product">
                            <div class="block-img-product img-category">
                                <img class="img-fluid" src="" alt="">
                            </div>
                            <div class="block-price-product">
                                <div class="name-category">
                                    Категория №1
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-3">
                    <a href="equipment-detail.html">
                        <div class="card-product">
                            <div class="block-img-product img-category">
                                <img class="img-fluid" src="" alt="">
                            </div>
                            <div class="block-price-product">
                                <div class="name-category">
                                    Категория №1
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-3">
                    <a href="equipment-detail.html">
                        <div class="card-product">
                            <div class="block-img-product img-category">
                                <img class="img-fluid" src="" alt="">
                            </div>
                            <div class="block-price-product">
                                <div class="name-category">
                                    Категория №1
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-3">
                    <a href="equipment-detail.html">
                        <div class="card-product">
                            <div class="block-img-product img-category">
                                <img class="img-fluid" src="" alt="">
                            </div>
                            <div class="block-price-product">
                                <div class="name-category">
                                    Категория №1
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-3">
                    <a href="equipment-detail.html">
                        <div class="card-product">
                            <div class="block-img-product img-category">
                                <img class="img-fluid" src="" alt="">
                            </div>
                            <div class="block-price-product">
                                <div class="name-category">
                                    Категория №1
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
