<div class="container socials">
    <div class="row row-socials">
        <div class="col-2 col-lg-1 col-socials">
            <img class="icon-soc-insta img-fluid" src="/img/instagram-dark.png" alt="">
            <!--<img class="icon-soc img-fluid" src="/img/twitter-dark.png" alt="">-->
        </div>
        <div class="col-9 col-lg-11 col-line">
            <div class="line"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-6 col-lg-4 foto-socials">
                    <img class="img-fluid" src="/img/content/foto1.svg" alt="">
                </div>
                <div class="col-6 col-lg-4 foto-socials">
                    <img class="img-fluid" src="/img/content/foto2.svg" alt="">
                </div>
                <div class="col-6 col-lg-4 foto-socials">
                    <img class="img-fluid" src="/img/content/foto3.svg" alt="">
                </div>
                <div class="col-6 col-lg-4 foto-socials">
                    <img class="img-fluid" src="/img/content/foto1.svg" alt="">
                </div>
                <div class="col-6 col-lg-4 foto-socials">
                    <img class="img-fluid" src="/img/content/foto2.svg" alt="">
                </div>
                <div class="col-6 col-lg-4 foto-socials">
                    <img class="img-fluid" src="/img/content/foto3.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <!--<img class="img-fluid" src="/img/content/vijet.svg" alt="">-->
            <iframe src="https://www.europeantour.com/data/leaderboard/widgets/en/top10/withvideo/" width="270" height="568" frameborder="no" scrolling="yes"></iframe>
        </div>
    </div>

</div>