<div class="container container-turnir-description">
    <img class="img-afisha img-fluid  d-lg-none" src="/img/img-afisha.png" alt="">
    <div class="row">
        <div class="col-12 col-lg-8">
            <h3>Описание</h3>
            <p>Списки предварительно допущенных участников у женщин и мужчин</p>
            <p>К соревнованиям допускаются спортсмены и
                спортсменки сборных команд субъектов Российской Федерации. Участники должны быть 2004 года рождения
                или старше.</p>
            <p>Максимальное число участников каждого предварительного этапа - 90 человек (60 мужчин, 30
                женщин). Выступать на турнире могут только граждане РФ.</p>
            <p>К участию в личных видах программы допускаются
                мужчины и женщины, имеющие на дату окончания приёма предварительных заявок активный точный гандикап со
                значением не хуже 14 для мужчин и не хуже 18 для женщин.</p>
            <p>К участию в каждом предварительном этапе
                соревнования допускаются спортсмены и спортсменки, представляющие принимающий регион, в количестве не
                более 50 % от общего количества участников. Остальные спортсмены должны представлять иные регионы. Для
                Москвы и Московской области принимающим считается их объединённый регион.</p>
            <p>Если количество заявок превышает количество мест для участия, предпочтение отдаётся спортсменам, имеющим
                лучшее значение своего точного гандикапа.</p>
            <p>К финальному этапу допускаются 32 лучших гольфиста и 16 лучших гольфисток
                по результатам предварительных этапов. </p>
        </div>
        <div class="d-none d-lg-block col-4">
            <img class="img-afisha img-fluid" src="/img/img-afisha.png" alt="">
        </div>
        <div class="col-12 col-lg-8">
            <div class="detail-turnir-slider">
                <div><img class="img-mt img-fluid" src="/img/img-turnir.png" alt=""></div>
                <div><img class="img-mt img-fluid" src="/img/img-turnir.png" alt=""></div>
                <div><img class="img-mt img-fluid" src="/img/img-turnir.png" alt=""></div>
                <div><img class="img-mt img-fluid" src="/img/img-turnir.png" alt=""></div>
            </div>

        </div>

        <div class="d-none d-lg-block col-4">
            <img class="img-mt" src="/img/geared-for-more.png" alt="">
        </div>

    </div>

    <div class="row program-turnir">
        <div class="col-12 col-lg-8">
            <h3>Программа турнира</h3>
            <div class="table-program">
                <div class="row">
                    <div class="number-day col-3 col-lg-2">День 1</div>
                    <div class="time d-none d-lg-block col-9 col-lg-3">15 августа,<br> с 09:00 до 13:00</div>
                    <div class="time d-lg-none col-9 col-lg-3" style="margin-top: 0;">15 августа, с 09:00 до 13:00</div>
                    <div class="program col-12 col-lg-6">Регистрация игроков в коттедже номер 18</div>
                </div>
                <div class="row">
                    <div class="number-day col-3 col-lg-2">День 2</div>
                    <div class="time d-none d-lg-block col-lg-3">16 августа,<br> с 08:00</div>
                    <div class="time d-lg-none col-9" style="margin-top: 0;">16 августа</div>
                    <div class="time d-lg-none col-3">с 08:00</div>
                    <div class="program col-9 col-lg-6">Клуб предоставляет 44 тележки. <br>По возможности просим брать свои.</div>
                </div>
                <div class="row">
                    <div class="number-day d-none d-lg-block col-lg-2"></div>
                    <div class="time col-3 col-lg-3">12:30</div>
                    <div class="program col-9 col-lg-6">Трансфер: Аэропорт – Клуб</div>
                </div>
                <div class="row">
                    <div class="number-day d-none d-lg-block col-lg-2"></div>
                    <div class="time col-3 col-lg-3">12:30</div>
                    <div class="program col-9 col-lg-6">Трансфер: Аэропорт – Клуб</div>
                </div>
                <div class="row">
                    <div class="number-day col-3 col-lg-2">День 3</div>
                    <div class="time d-none d-lg-block col-lg-3">16 августа,<br> с 08:00</div>
                    <div class="time d-lg-none col-9" style="margin-top: 0;">16 августа</div>
                    <div class="time d-lg-none col-3">с 08:00</div>
                    <div class="program col-9 col-lg-6">Клуб предоставляет 44 тележки. <br>По возможности просим брать свои.</div>
                </div>
            </div>

            <img class="img-mt d-lg-none img-fluid" src="/img/geared-for-more.png" alt="">
            <div class="img-afisha d-lg-none">
                <div class="img-afisha d-lg-none" style="padding: 23px; margin-top: 20px;">
                    <p class="start-course">Старт 12.03.19</p>
                    <p class="p-afisha">Обучение<br> гольфу<br> в Москве</p>
                    <a class="btn-green btn-more" href="courses_start.html">Подробнее</a>
                </div>
            </div>
            <h3 style="margin-bottom: 9px;">Формат турнира</h3>
            <p>Списки предварительно допущенных участников у женщин и мужчин</p>
            <p>К соревнованиям допускаются спортсмены и
                спортсменки сборных команд субъектов Российской Федерации. Участники должны быть 2004 года рождения
                или старше.</p>
            <p>Максимальное число участников каждого предварительного этапа - 90 человек (60 мужчин, 30
                женщин). Выступать на турнире могут только граждане РФ.</p>
            <p>К участию в личных видах программы допускаются
                мужчины и женщины, имеющие на дату окончания приёма предварительных заявок активный точный гандикап со
                значением не хуже 14 для мужчин и не хуже 18 для женщин.</p>
            <p>К участию в каждом предварительном этапе
                соревнования допускаются спортсмены и спортсменки, представляющие принимающий регион, в количестве не
                более 50 % от общего количества участников. Остальные спортсмены должны представлять иные регионы. Для
                Москвы и Московской области принимающим считается их объединённый регион.</p>
            <p>Если количество заявок превышает количество мест для участия, предпочтение отдаётся спортсменам, имеющим
                лучшее значение своего точного гандикапа.</p>
            <p>К финальному этапу допускаются 32 лучших гольфиста и 16 лучших гольфисток
                по результатам предварительных этапов. </p>
            <h3 class="turnir-documents">Документы</h3>
            <a href="" class="d-inline-block document-link">
                <img src="/img/pdf.svg" alt="">
                <p>Программа тура</p>
            </a>
            <a href="" class="d-inline-block document-link">
                <img src="/img/pdf.svg" alt="">
                <p>Расписание</p>
            </a>
            <a href="" class="d-inline-block document-link">
                <img src="/img/pdf.svg" alt="">
                <p>Участникам</p>
            </a>
            <div class="other-info">
                <h3>Прочая информация</h3>
                <p>Списки предварительно допущенных участников у женщин </p>
                <p>К соревнованиям допускаются спортсмены и спортсменки сборных команд субъектов Российской Федерации.
                    Участники должны быть 2004 года рождения или старше.</p>
                <h6>Проживание</h6>
                <p class="text-justify" style="max-width: 671px; margin-bottom: 25px;">Проживание участников в
                    гостиницах «Станция» и «Дежавю» до 15 июля, согласно бронированию. Далее размещение до 16/17 июля в
                    альпийских домиках. При переселении будет организована помощь клуба в транспортировке.</p>
                <h6>Питание</h6>
                <p style="max-width: 624px">Питание участников будет осуществляться в в кафе «Half Pie» на первом этаже
                    гостиницы «Станция».
                <p style="line-height: 23px;">Завтрак 07:00 – 09:00<br> Обед 12:00 – 15:00<br> Ужин 18:00 – 21:00 </p>
                <p>Стоимость комплекса «Завтрак/ужин» – 650 руб. </p>
                <p>Обед самостоятельно, по желанию.</p>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="img-afisha d-none d-lg-block" style="padding: 23px;">
                <p class="start-course">Старт 12.03.19</p>
                <p class="p-afisha">Обучение<br> гольфу<br> в Москве</p>
                <a class="btn-green btn-more" href="courses_start.html">Подробнее</a>
            </div>
    </div>
    </div>


</div>