<div class="container container-catalog">
    <h3 class="d-inline-block">Оборудование</h3><span class="p12-gray d-lg-none" style="padding-left: 10px;">227 товаров</span>
    <div class="all-catalog">
            <div class="catalog">
                            <div class="block-price-product product-text">
                                <a class="name-product" href="equipment-detail.html">
                                    Golf Pride Tour Velvet Cord Grip
                                </a>
                                <div class="price-product">
                                    1 000 руб.
                                </div>
                            </div>
                <div class="block-price-product product-text">
                    <a class="name-product" href="equipment-detail.html">
                        Golf Pride Tour Velvet Cord Grip
                    </a>
                    <div class="price-product">
                        1 000 руб.
                    </div>
                </div>
                <div class="block-price-product product-text">
                    <a class="name-product" href="equipment-detail.html">
                        Golf Pride Tour Velvet Cord Grip
                    </a>
                    <div class="price-product">
                        1 000 руб.
                    </div>
                </div>
                <div class="block-price-product product-text">
                    <a class="name-product" href="equipment-detail.html">
                        Golf Pride Tour Velvet Cord Grip
                    </a>
                    <div class="price-product">
                        1 000 руб.
                    </div>
                </div>
                <div class="block-price-product product-text">
                    <a class="name-product" href="equipment-detail.html">
                        Golf Pride Tour Velvet Cord Grip
                    </a>
                    <div class="price-product">
                        1 000 руб.
                    </div>
                </div>
            <button class="btn-green btn-load">Загрузить еще</button>
        </div>
    </div>
</div>