<div class="container container-enter">
    <div class="row">
        <div class="col-12 col-lg-6 border-right">
            <h3>Вход в аккаунт</h3>
            <form action="" class="form-enter-user">
                <div class="form-group">
                    <input type="email" class="form-control" id="emailEnter" value="hell@example.ru">
                    <label class="p12-gray" for="emailEnter">E-mail</label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="passwordEnter" placeholder="Пароль">
                </div>
                <input type="button" class="btn-green btn-pay" data-dismiss="modal" value="Войти">
                <a class="forget-password" id="forgetPassword" href="password-recovery.html">Забыли пароль?</a>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <div class="link-have-account">
                <h2>Еще нет аккаунта?</h2>
                <a class="btn-white btn-registration" href="registration.html">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>