<div class="container container-turnir-detail">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h2 class="d-inline-block">Cape Kaliakra Open 2019</h2>
            <a class="d-inline-block float-right share-link" href="">
                <img src="/img/share.svg" alt="">
            </a>
            <p class="d-none d-lg-block">Турнир: Ночной гольф-2015 в Целеево</p>
            <p class="d-none d-lg-block">В Целеево сыграли в традиционный турнир «Ночной гольф-2016»</p>
            <p class="text-turnir-detail">Кубок России по гольфу в 2016 году состоит из трёх предварительных этапов в
                разных субъектах Российской Федерации, а его финальный этап состоится в Ленинградской области в
                гольф-клубе GORKI. Организатором Кубка является АГР. в 2016 году состоит из трёх Предварительных этапов
                в разных субъектах Российской Федерации </p>
            <div class="row row-resultats">
                <div class="col-6">
                    <p>Стартовый лист</p>
                    <p class="p12-gray">Первый раунд</p>
                </div>
                <div class="col-6 text-right">
                    <button class="btn-white btn-look">Посмотреть</button>
                </div>
            </div>
            <div class="row row-disabled">
                <div class="col-6 margin-result">
                    <p>Результаты</p>
                    <p class="p12-gray">Первый раунд</p>
                </div>
                <div class="col-6 text-right  margin-result">
                    <button class="btn-white btn-look">Посмотреть</button>
                </div>
            </div>

        </div>
        <div class="col-0 col-lg-1"></div>
        <div class="col-12 col-lg-5 col-padding">
            <img class="img-turnir-detail" src="/img/turnir-agr.png" alt="">
            <div class="row row-date-place">
                <div class="col-7 col-lg-4">
                    <p>14-16 июля 2016</p>
                    <p class="calendar-detail-name-place p12-gray">Дата</p>
                </div>
                <div class="col-5 col-lg-2">
                    <p>Россия</p>
                    <p class="calendar-detail-name-place p12-gray">Страна</p>
                </div>
                <div class="col-12 col-lg-6">
                    <p class="p-place-turnir">Свияжские холмы (Казан)</p>
                    <p class="calendar-detail-name-place p12-gray">Гольф-клуб</p>
                </div>
            </div>
            <div class="row row-price">
                <div class="col-8 col-lg-6">
                <img class="d-none d-lg-inline-block img-ticket" src="/img/ticket1.svg" alt="">
                <p class="d-inline-block" style="vertical-align: -webkit-baseline-middle; font-size: 16px">Для членов клуба</p>
            </div>
                <div class="col-4 col-lg-5 text-right price-number">
                    2 000 ₽
                </div>
                <div class="col-8 col-lg-6 margin-price">
                    <img class="d-none d-lg-inline-block img-ticket" src="/img/ticket2.svg" alt="">
                    <p class="d-inline-block" style="vertical-align: -webkit-baseline-middle; font-size: 16px">Для гостей</p>
                </div>
                <div class="col-4 col-lg-5 text-right margin-price price-number">
                    4 000 ₽
                </div>
            </div>
            <button class="btn-green btn-pay" data-toggle="modal" data-target="#buyTurnir">Оплатить участие</button>
        </div>
    </div>

</div>