<div class="container container-calendar-detail">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="row row-date">
            <div class="col-12 col-lg-2 col-pl0">
                <div class="date-calendar">13</div>
                <div class="d-inline-block mini-date">
                    Августа<br>
                    пятница
                </div>
            </div>
            <div class="col-12 col-lg-10">
                <ul class="ul-calendar">
                    <li class="li-calendar">
                        <div class="row row-calendar-detail-turnir">
                            <div class="col-9 col-p0">
                                <a href=""><h5 class="calendar-detail-name-turnir">FRIDAY DRIVE по пятницам в Московском Гольф Клубе 2017</h5></a>
                                <a href="" class="link-no-decoration"><p class="calendar-detail-name-place">Московский городской Гольф Клуб</p></a>
                                <a href="" class="link-no-decoration"><p class="calendar-detail-description-turnir">Московский городской Гольф Клуб приглашает принять участие  в турнире FRIDAY DRIVE по пятницам.</p></a>
                            </div>
                            <div class="col-3 col-img-club">
                                <img class="img-club img-fluid" src="/img/image-club.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="li-calendar">
                        <div class="row row-calendar-detail-turnir">
                            <div class="col-9 col-p0">
                                <a href=""><h5 class="calendar-detail-name-turnir">Российский тур 3 этап (мужчины, женщины) 2017</h5></a>
                                <a href="" class="link-no-decoration"><p class="calendar-detail-name-place">Московский городской Гольф Клуб</p></a>
                                <a href="" class="link-no-decoration"><p class="calendar-detail-description-turnir">Московский городской Гольф Клуб приглашает принять участие  в турнире FRIDAY DRIVE по пятницам.</p></a>
                            </div>
                            <div class="col-3 col-img-club">
                                <img class="img-club  img-fluid" src="/img/image-club.png" alt="">
                            </div>
                        </div>
                    </li>
                    <li class="li-calendar">
                        <div class="row row-calendar-detail-turnir">
                            <div class="col-9 col-p0">
                                <a href=""><h5 class="calendar-detail-name-turnir">FRIDAY DRIVE по пятницам в Московском Гольф Клубе 2017</h5></a>
                                <a href="" class="link-no-decoration"><p class="calendar-detail-name-place">Московский городской Гольф Клуб</p></a>
                            </div>
                            <div class="col-3 col-img-club">
                                <img class="img-club img-fluid" src="/img/image-club.png" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
            <div class="row row-date">
                <div class="col-12 col-lg-2 col-pl0">
                    <div class="date-calendar">14</div>
                    <div class="d-inline-block mini-date">
                        Августа<br>
                    суббота
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <ul class="ul-calendar">
                        <li class="li-calendar">
                            <div class="row row-calendar-detail-turnir">
                                <div class="col-9 col-p0">
                                    <a href=""><h5 class="calendar-detail-name-turnir">Российский тур 3 этап (мужчины, женщины) 2017</h5></a>
                                    <a href="" class="link-no-decoration"><p class="calendar-detail-name-place">Московский городской Гольф Клуб</p></a>
                                    <a href="" class="link-no-decoration"><p class="calendar-detail-description-turnir">Московский городской Гольф Клуб приглашает принять участие  в турнире FRIDAY DRIVE по пятницам.</p></a>
                                </div>
                                <div class="col-3 col-img-club">
                                    <img class="img-club img-fluid" src="/img/image-club.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li class="li-calendar">
                            <div class="row row-calendar-detail-turnir">
                                <div class="col-9 col-p0">
                                    <a href=""><h5 class="calendar-detail-name-turnir">FRIDAY DRIVE по пятницам в Московском Гольф Клубе 2017</h5></a>
                                    <a href="" class="link-no-decoration"><p class="calendar-detail-name-place">Московский городской Гольф Клуб</p></a>
                                </div>
                                <div class="col-3 col-img-club">
                                    <img class="img-club img-fluid" src="/img/image-club.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li class="li-calendar">
                            <div class="row row-calendar-detail-turnir">
                                <div class="col-9 col-p0">
                                    <a href=""><h5 class="calendar-detail-name-turnir">FRIDAY DRIVE по пятницам в Московском Гольф Клубе 2017</h5></a>
                                    <a href="" class="link-no-decoration"><p class="calendar-detail-name-place">Московский городской Гольф Клуб</p></a>
                                </div>
                                <div class="col-3 col-img-club">
                                    <img class="img-club img-fluid" src="/img/image-club.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row row-date">
                <div class="col-12 col-lg-2 col-pl0">
                    <div class="date-calendar">15</div>
                    <div class="d-inline-block mini-date">
                        Августа<br>
                        воскресенье
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <ul class="ul-calendar">
                        <li class="li-calendar">
                            <div class="row row-calendar-detail-turnir">
                                <div class="col-9 col-p0">
                                    <a href=""><h5 class="calendar-detail-name-turnir">Российский тур 3 этап (мужчины, женщины) 2017</h5></a>
                                    <a href="" class="link-no-decoration"><p class="calendar-detail-name-place">Московский городской Гольф Клуб</p></a>
                                    <a class="d-none d-lg-inline-block btn-green btn-signup">Записаться</a>
                                    <a class="d-none d-lg-inline-block btn-white btn-more">Подробнее</a>
                                </div>
                                <div class="col-3 col-img-club">
                                    <img class="img-club img-fluid" src="/img/image-club.png" alt="">
                                </div>
                            </div>
                        </li>
                        <li class="li-calendar">
                            <div class="row row-calendar-detail-turnir">
                                <div class="col-9 col-p0">
                                    <a href=""><h5 class="calendar-detail-name-turnir">FRIDAY DRIVE по пятницам в Московском Гольф Клубе 2017</h5></a>
                                    <a href="" class="link-no-decoration"><p class="calendar-detail-name-place">Московский городской Гольф Клуб</p></a>
                                </div>
                                <div class="col-3 col-img-club">
                                    <img class="img-club img-fluid" src="/img/image-club.png" alt="">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-0 offset-lg-2">
                    <a class="btn-green btn-load">Загрузить еще</a>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-3 d-none d-lg-block">
            <img src="/img/tour-adidas.png" alt="">
            <h4 class="h-club-news">Клубные новости</h4>
            <div class="club-news-slider">
                <div class="club-news-slide"><a href="">Результаты второго этапа Golfzon  Indoor Open</a></div>
                <div class="club-news-slide"><a href="">Гольф-клуб «Сколково» открыл всепогодный каток на территории Московской Школы Управления</a></div>
                <div class="club-news-slide"><a href="">Audemars Piguet провел закрытый турнир в Дубае и представил новые модели элитных часов</a></div>
                <div class="club-news-slide"><a href="">Golf-Resort Gorki провел турнир по зимнему гольфу «Ёлки»</a></div>
                <div class="club-news-slide"><a href="">Гольф-клуб «Сколково» открыл всепогодный каток на территории Московской Школы Управления</a></div>
                <div class="club-news-slide"><a href="">Audemars Piguet провел закрытый турнир в Дубае и представил новые модели элитных часов</a></div>
                <div class="club-news-slide"><a href="">Golf-Resort Gorki провел турнир по зимнему гольфу «Ёлки»</a></div>
                <div class="club-news-slide"><a href="">Гольф-клуб «Сколково» открыл всепогодный каток на территории Московской Школы Управления</a></div>
            </div>
        </div>
    </div>
</div>