<div class="container container-like-news">
    <h3 class="d-none d-lg-block">Похожие новости</h3>
    <div class="row">
        <div class="col-12 col-lg-6 border-right">
            <ul style="list-style: none; padding-left: 0;">
                <li class="card-like-news card-news">
                    <a class="name-sector sector-green">Профессиональный гольф</a>
                    <a class="title-news">Европейские звезды впервые знакомятся с новыми правилами гольфа</a>
                    <a class="text-news">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также купив билеты в рамках специальной лотереи</a>
                </li>
                <li class="card-like-news card-news">
                    <a class="name-sector sector-green">Российский гольф</a>
                    <a class="title-news">Лучший раунд в карьере. Микелсон нанёс 60 ударов!</a>
                    <a class="text-news">Если этого не произошло, то за бейдж на неделю вам придется заплатить $12,450.</a>
                </li>
                <li class="card-like-news card-news">
                    <a class="name-sector sector-green">Профессиональный гольф</a>
                    <a class="title-news">Европейские звезды впервые знакомятся с новыми правилами гольфа</a>
                    <a class="text-news">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также купив билеты в рамках специальной лотереи</a>
                </li>
            </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-12 col-lg-5">
            <ul style="list-style: none; padding-left: 0;">
                <li class="card-like-news card-news">
                    <a class="name-sector sector-green">Клубные новости</a>
                    <a class="title-news">В новый сезон с новыми клюшками. Чего ждать  от Тайгера Вудса в его первом турнире?</a>
                    <a class="text-news">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также купив билеты в рамках специальной лотереи</a>
                </li>
                <li class="card-like-news card-news">
                    <a class="name-sector sector-green">Пресс-релизы</a>
                    <a class="title-news">Цены на билеты The Masters 2019 бьют рекорды</a>
                    <a class="text-news">Попасть на крупнейший турнир начала гольф-сезона можно  по приглашению, а также
                        купив билеты в рамках специальной  лотереи. Если этого не произошло, то за бейдж на неделю  вам придется заплатить $12,450.</a>
                </li>
                <li class="card-like-news card-news">
                    <a class="name-sector sector-green">Клубные новости</a>
                    <a class="title-news">В новый сезон с новыми клюшками. Чего ждать  от Тайгера Вудса в его первом турнире?</a>
                    <a class="text-news">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также купив билеты в рамках специальной лотереи</a>
                </li>
            </ul>

        </div>
    </div>
    @@include('_comp_pagination.html')
    <div class="d-lg-none text-center">
        <img class="img-fluid" src="/img/tour-adidas.png" alt="">
        <img class="img-fluid" style="margin-top: 55px;" src="/img/adidas-mini.png" alt="">
    </div>
</div>