<div class="container container-cabinet">
    <h4>Личный кабинет</h4>
    <div class="row">
        <div class="col-12 col-lg-4 order-lg-2">
            @@include('_comp_cabinet-menu.html')
        </div>
        <div class="col-12 col-lg-8 order-lg-1">
            <div class="table-history">
                <div class="table-history-head text18">Контакты</div>
                <div class="table-body-contacts">
                    <a class="text18 line-height" href="tel:+7123456789">8 123 456 67 89</a>
                    <p class="text18">г. Москва, ул. Ленина 123</p>
                </div>
            </div>
        </div>
    </div>
</div>