<div class="container-fluid similar-products">
<div class="container container-catalog">
    <h3 class="d-inline-block">Похожие товары</h3>
    <div class="row">
        <div class="col-12 col-lg-3">
            <div class="card-product">
                <a href="equipment-detail.html">
                    <div class="block-img-product">
                        <img class="img-fluid" src="/img/img-product.png" alt="">
                    </div>
                    <div class="block-price-product">
                        <div class="price-product">
                            1 000 руб.
                        </div>
                        <div class="name-product">
                            Golf Pride Tour Velvet Cord Grip
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card-product">
                <a href="equipment-detail.html">
                    <div class="block-img-product">
                        <img class="img-fluid" src="/img/img-product.png" alt="">
                    </div>
                    <div class="block-price-product">
                        <div class="price-product">
                            1 000 руб.
                        </div>
                        <div class="name-product">
                            Golf Pride Tour Velvet Cord Grip
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card-product">
                <a href="equipment-detail.html">
                    <div class="block-img-product">
                        <img class="img-fluid" src="/img/img-product.png" alt="">
                    </div>
                    <div class="block-price-product">
                        <div class="price-product">
                            1 000 руб.
                        </div>
                        <div class="name-product">
                            Golf Pride Tour Velvet Cord Grip
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card-product">
                <a href="equipment-detail.html">
                    <div class="block-img-product">
                        <img class="img-fluid" src="/img/img-product.png" alt="">
                    </div>
                    <div class="block-price-product">
                        <div class="price-product">
                            1 000 руб.
                        </div>
                        <div class="name-product">
                            Golf Pride Tour Velvet Cord Grip
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

</div>