<div class="container golf-clubs">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card-news">
                <a href="article.html">
                    <img class="img-fluid" src="/img/Shadow.png" alt="">
                </a>
                <a class="name-sector sector-orange link-no-decoration" href="trips.html">Туризм</a>
                <a href="">
                </a>
                <a class="news-title">«Москоу Кантри Клаб» стал частью сети European Tour  Destinations</a>
                <a class="text-news link-no-decoration">
                    <p>
                        Гольф-клуб «Сколково» завершил пятый юбилейный сезон масштабной  премией Skolkovo Season Awards и концертом джазового пианиста Джейми Каллума.
                    </p>

                </a>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <h3>Гольф-клубы</h3>
            <div class="golf-clubs-slider">
                <div class="slide-golf-club card-slide">
                    <div class="row">
                        <div class="col-4">
                            <a href="golf-club.html">
                                <img class="img-fluid img-golf-club-slider" src="/img/content/club1.svg" alt="">
                            </a>
                        </div>
                        <div class="col-8">
                            <a class="golf-club-name" href="golf-club.html">GCSAA</a>
                            <a class="golf-club-place p12-gray" href="golf-club.html">Гольф-клуб</a>
                        </div>
                    </div>
                </div>
                <div class="slide-golf-club">
                    <div class="row">
                        <div class="col-4">
                            <a href="golf-club.html">
                                <img class="img-fluid img-golf-club-slider" src="/img/content/club2.svg" alt="">
                            </a>
                        </div>
                        <div class="col-8">
                            <a class="golf-club-name" href="golf-club.html">Lahinch Golf Club</a>
                            <a class="golf-club-place p12-gray" href="golf-club.html">Гольф-клуб</a>
                        </div>
                    </div>
                </div>
                <div class="slide-golf-club">
                    <div class="row">
                        <div class="col-4">
                            <a href="golf-club.html">
                                <img class="img-fluid img-golf-club-slider" src="/img/content/club3.svg" alt="">
                            </a>
                        </div>
                        <div class="col-8">
                            <a class="golf-club-name" href="golf-club.html">Moscow Country Club</a>
                            <a class="golf-club-place p12-gray" href="golf-club.html">Гольф-клуб</a>
                        </div>
                    </div>
                </div>
                <div class="slide-golf-club">
                    <div class="row">
                        <div class="col-4">
                            <a href="golf-club.html">
                                <img class="img-fluid img-golf-club-slider" src="/img/content/club4.svg" alt="">
                            </a>
                        </div>
                        <div class="col-8">
                            <a class="golf-club-name" href="golf-club.html">Skolkovo</a>
                            <a class="golf-club-place p12-gray" href="golf-club.html">Гольф-клуб</a>
                        </div>
                    </div>
                </div>
                <div class="slide-golf-club">
                    <div class="row">
                        <div class="col-4">
                            <a href="golf-club.html">
                                <img class="img-fluid img-golf-club-slider" src="/img/content/club5.svg" alt="">
                            </a>
                        </div>
                        <div class="col-8">
                            <a class="golf-club-name" href="golf-club.html">Agalarov Estate</a>
                            <a class="golf-club-place p12-gray" href="golf-club.html">Гольф-клуб</a>
                        </div>
                    </div>
                </div>
                <div class="slide-golf-club">
                    <div class="row">
                        <div class="col-4">
                            <a href="golf-club.html">
                                <img class="img-fluid img-golf-club-slider" src="/img/content/club6.svg" alt="">
                            </a>
                        </div>
                        <div class="col-8">
                            <a class="golf-club-name" href="golf-club.html">Пестово</a>
                            <a class="golf-club-place p12-gray" href="golf-club.html">Гольф-клуб</a>
                        </div>
                    </div>
                </div>
                <div class="slide-golf-club">
                    <div class="row">
                        <div class="col-4">
                            <a href="golf-club.html">
                                <img class="img-fluid img-golf-club-slider" src="/img/content/club7.svg" alt="">
                            </a>
                        </div>
                        <div class="col-8">
                            <a class="golf-club-name" href="golf-club.html">Windlesham Golf club</a>
                            <a class="golf-club-place p12-gray" href="golf-club.html">Гольф-клуб</a>
                        </div>
                    </div>
                </div>
                <div class="slide-golf-club">
                    <div class="row">
                        <div class="col-4">
                            <a href="golf-club.html">
                                <img class="img-fluid img-golf-club-slider" src="/img/content/club4.svg" alt="">
                            </a>
                        </div>
                        <div class="col-8">
                            <a class="golf-club-name" href="golf-club.html">Skolkovo</a>
                            <a class="golf-club-place p12-gray" href="golf-club.html">Гольф-клуб</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>