<div class="bg-header position-relative">
<div class="container">
    <div class="row header-main">
        <div class="col-3 order-2 order-lg-1">
            <form class="form-inline form-search">
                <input class="form-control input-search" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-search" type="submit"><img src="/img/search.png" alt=""></button>
            </form>
            <img class="btn-mob-search d-lg-none" src="/img/search.png" alt="">
            <!--<button class="btn" type="submit"><img class="btn-mob-search d-lg-none" src="/img/search.png" alt=""></button>-->
        </div>

        <div class="col-6 order-1 order-lg-2">
            <a class="logo" href="main.html"><img class="logo img-fluid" src="/img/Logotype.png" alt=""></a>
        </div>
        <div class="col-3 order-lg-3">
            <a class="header-basket-link" href="">
                <p class="sum-products">2</p>
                <img class="img-basket" src="/img/basket.png" alt="">
            </a>
            <a class="cabinet-link" href="registration.html">Личный кабинет</a>
        </div>
    </div>
<div class="bg-menu-transform"></div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <input id="navbar-img" class="navbar-img" type="checkbox"/>
        <label class="navbar-img" for="navbar-img">
            <i></i>
        </label>
        </button>

        <!--<div class="stage"><div class="trapezia trapezia-left"></div></div>-->
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav m-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-link d-inline-block" href="list-news.html">Новости</a>
                    <div class="dropdown-menu" aria-labelledby="newsDropdown">
                        <a class="dropdown-item" href="list-news.html">Профессиональный гольф</a>
                        <a class="dropdown-item" href="#">Российский гольф</a>
                        <a class="dropdown-item" href="#">Клубные новости</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="calendar.html">Календарь турниров</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-link d-inline-block" href="#">Клубы</a>
                    <div class="dropdown-menu dropdown-menu-courses" aria-labelledby="tearchDropdown">
                        <a class="dropdown-item" href="list-clubs.html">Клубы России</a>
                        <a class="dropdown-item" href="list-clubs.html">Иностранные клубы</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="trips.html">Путешествия</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-link d-inline-block" href="#">Обучение</a>
                    <div class="dropdown-menu dropdown-menu-courses" aria-labelledby="tearchDropdown">
                        <a class="dropdown-item" href="courses.html">Уроки</a>
                        <a class="dropdown-item" href="style_life.html">Советы</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Вокруг гольфа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="equipment.html">Оборудование</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="style_life.html">Стиль жизни</a>
                </li>
            </ul>
                <ul class="navbar-nav navbar-socials d-lg-none">
                    <li class="nav-item  ">
                        <div class="menu-img d-inline-block offset-4">
                            <img class="fb" src="/img/fb-menu.png" alt="">
                        </div>
                        <a class="nav-link d-inline-block" href="">Facebook</a>
                    </li>
                    <li class="nav-item ">
                        <div class="menu-img d-inline-block offset-4">
                            <img class="inst" src="/img/inst-menu.png" alt="">
                        </div>
                        <a class="nav-link d-inline-block" href="">Instagram</a>
                    </li>
                    <li class="nav-item ">
                        <div class="menu-img d-inline-block offset-4">
                            <img class="youtube" src="/img/Youtube-menu.png" alt="">
                        </div>
                        <a class="nav-link d-inline-block" href="">Youtube</a>
                    </li>
                </ul>
            <!--<div class="stage"><div class="trapezia trapezia-right"></div></div>-->
        </div>
    </nav>
</div>
</div>