<div class="container container-list-news-tile">
    <div class="row">
        <div class="col-12 col-lg-8">
            @@include('_comp_news-tile.html')
            <div class="d-none d-lg-block">
                @@include('_comp_pagination.html')
            </div>
        </div>
        <div class="col-4 text-right d-none d-lg-block">
            <div class="banner">
                <a href=""><img class="img-fluid" src="/img/addidas-tips-top.png" alt=""></a>
            </div>
            <div class="banner" style="margin-top: 55px;">
                <a href=""><img class="img-fluid" src="/img/adidas-tips-bottom.png" alt=""></a>
            </div>


        </div>
    </div>
   
</div>