<div style="position: relative">
<div class="news-slider">
    <div class="">
        <a class="slide-news" href="">«Я не такой». Гарсия извинился за неадекватное поведение на гольф-поле </a>
    </div>
    <div class="">
        <a class="slide-news" href="">Ксандер Шоффеле выходит на новый уровень. Два «хоулаута», повторение рекорда поля и титул на «Турнире чемпионов» .</a>
    </div>
    <div class="">
        <a class="slide-news" href="">Пэдрэйг Харрингтон стал капитаном сборной Европы в Кубке Райдера 2020.</a>
    </div>
    <div class="">
        <a class="slide-news" href="">Больше не холостяк. Как женитьба поможет карьере Джордана Спита?</a>
    </div>
    <div class="">
        <a class="slide-news" href="">Ксандер Шоффеле выходит на новый уровень. Два «хоулаута», повторение рекорда поля и титул на «Турнире чемпионов»</a>
    </div>
    <div class="">
        <a class="slide-news" href="">«Я не такой». Гарсия извинился за неадекватное поведение на гольф-поле</a>
    </div>
    <div class="">
        <a class="slide-news" href="">«Я не такой». Гарсия извинился за неадекватное поведение на гольф-поле</a>
    </div>
</div>
</div>