<div class="banner" style="margin: 95px 0 30px;">
    <a href=""><img class="img-fluid" src="/img/addidas-tips-top.png" alt=""></a>
</div>
        <div class="card-news">
            <a href="article.html">
                <img class="img-fluid" src="/img/content/news1.png" alt="">
            </a>
            <a class="title-news" href="article.html" style="margin-top: 10px;">
                В Pine Creek состоялся семейный турнир
            </a>
            <a class="link-no-decoration" href="article.html">
                <p class="text-news">в Pine Creek Golf Resort прошёл первый  семейный турнир Family Cup. В турнире
                    приняли участие семейные пары  и родители с детьми
                </p>
            </a>

        </div>

        <div class="card-news">
            <a href="article.html">
                <img class="img-fluid" src="/img/content/news2.png" alt="">
            </a>
            <a class="title-news" href="article.html" style="margin-top: 10px;">
                Цены на билеты The Masters 2019 бьют рекорды
            </a>
            <a class="link-no-decoration" href="article.html">
                <p class="text-news">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также
                    купив
                    билеты в рамках специальной лотереи. Если этого не произошло, то за бейдж на неделю вам придется
                    заплатить $12,450.
                </p>
            </a>
        </div>
<div class="banner" style="margin: 20px 0;">
    <a href=""><img class="img-fluid" src="/img/adidas-tips-bottom.png" alt=""></a>
</div>
<a class="btn-green btn-more load-more">Загрузить еще</a>

