<div class="container container-checkout final-checkout">
    <div class="row">
        <div class="col-12 col-lg-9">
            <h4>Заказ сформирован</h4>
            <p class="text18">
                Ваш заказ №6 от 05.01.2019 09:39 успешно создан. Номер вашей оплаты: №6/1
            </p>
            <p class="text18">
                Вы можете следить за выполнением своего заказа в <a style="color: #033040;" href="">Персональном разделе сайта</a>. Обратите внимание, что для входа в этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.
            </p>
            <h6 class="text18">Оплата заказа</h6>
            <img style="border: 2px solid gray;" src="/img/visa.png" alt="">
            <div class="block-pay">
                <p class="text18">Услугу предоставляет сервис онлайн-платежей «Яндекс.Касса».</p>
                <p class="text18">Сумма к оплате по счету: 9 976 ₽</p>
                <p class="text18 text-gray">Вы будете перенаправленны на страницу оплаты</p>
                <a href="" class="btn-green btn-pay">Оплатить</a>
                <p class="text18 text-warn">
                    Обратите внимание:<br>
                    Если вы откажетесь от покупки, для возврата денег<br> вам придется обратиться в магазин.
                </p>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    </div>
