<div class="container-fluid container-tips-slider">
<div class="container">
    <h3>Советы</h3>
<div class="news-horizontal">
        <div class="news-horizontal-slider">
            <div class="slide-news-horizontal">
                <img src="/img/news-hor.png" alt="">
                <p class="text-slide-news-horizontal">Европейские звезды впервые знакомятся с новыми првавилами гольфа</p>
            </div>
            <div class="slide-news-horizontal">
                <img src="/img/news-hor.png" alt="">
                <p class="text-slide-news-horizontal">Европейские звезды впервые знакомятся с новыми првавилами гольфа</p>
            </div>
            <div class="slide-news-horizontal">
                <img src="/img/news-hor.png" alt="">
                <p class="text-slide-news-horizontal">Европейские звезды впервые знакомятся с новыми првавилами гольфа</p>
            </div>
            <div class="slide-news-horizontal">
                <img src="/img/news-hor.png" alt="">
                <p class="text-slide-news-horizontal">Европейские звезды впервые знакомятся с новыми првавилами гольфа</p>
            </div>
        </div>
    </div>
</div>
</div>
