<div class="container style">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card-news">
                <a href="article.html">
                    <img class="img-fluid" src="/img/img-style.svg" alt="">
                </a>
                <a class="name-sector sector-purple link-no-decoration" href="list-news.html">
                    Стиль жизни
                </a>

                <a class="news-title" href="article.html">
                    Гольф-клуб «Сколково» завершил 5й юбилейный сезон премией Skolkovo Season Awards
                </a>
                <a class="text-news link-no-decoration">
                    <p>
                        Гольф-клуб «Сколково» завершил пятый юбилейный сезон масштабной премией Skolkovo Season Awards и концертом джазового пианиста Джейми Каллума.
                    </p>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="banner">
                <a href="#">
                    <img class="img-fluid d-block m-auto" src="/img/img-style-adidas.png" alt="">
                </a>
            </div>

        </div>
    </div>
</div>
