<div class="container container-about-us">
    <div class="row">
        <div class=" col-12 col-lg-8">
            <h3>Организация мероприятий</h3>
            <p class="text18">Golfmir — это агенсто, которые организовывает мероприятия и рекламу на гольф полях. Мы
                помогаем вывести
                вас на премиальную целевую аудиоторию </p>
            <h3>О проекте Golfmir.ru</h3>
            <p class="p-project">Информационный портал Golfmir.ru содержит последние новости из мира гольфа и
                качественные аналитические
                материалы, являясь незаменимым руководством для тех, чьим образом жизни стал гольф.</p>
            <p class="p-project">Среди постоянных авторов Golfmir.ru не только российские спортивные обозреватели, но и
                журналисты,
                живущие в США – стране, где гольф имеет огромную популярность.</p>
            <p class="p-project">Рубрика «Блог» популярна своими интервью со звездами российского и мирового гольфа,
                обзорами на тему
                гольф-туризма и недвижимости. В разделах «Календарь» и «Результаты турниров» представлена полная и
                актуальная информация о предстоящих и прошедших соревнованиях.</p>
            <h3 class="h3-rek">Реклама на Golfmir.ru</h3>
            <div class="block-border">
                <h6>Чем это отличается от обычной рекламы?</h6>
                <p>Тем, что материалы эти делаем мы. Рекламодатели приходят к нам, потому что мы умеем рассказать про
                    них полезно и интересно. Все партнерские материалы сделаны нами.</p>
            </div>
            <div class="block-border">
                <h6>Кто такой партнер?</h6>
                <p>Партнер — это рекламодатель, который платит нам деньги за то, чтобы мы сделали этот материал.
                    Соответственно, партнер заинтересован в теме материала и участвует в его создании.</p>
            </div>
            <div class="block-border">
                <h6>Если я хочу быть партнером, что делать?</h6>
                <p>Напишите нам на ssr@golfmir.ru — все обсудим, или заполните форму.</p>
            </div>
            <div class="block-border">
                <h6>Если я хочу быть партнером, что делать?</h6>
                <p>Напишите нам на ssr@golfmir.ru — все обсудим, или заполните форму.</p>
            </div>
        </div>
        <div class="d-none d-lg-block col-4">
            <div class="documents-about-us">
                <a class="docs"><p>Пользовательское соглашение</p></a>
                <a class="docs"><p>Соглашение конфидициальности</p></a>
                <a class="docs"><p>Соглашения о раскрытии<br> информации</p></a>
            </div>

        </div>
    </div>
</div>