<div class="container detail-course">
    <h5>Oписание</h5>
    <p class="text-description">Списки предварительно допущенных участников у женщин и мужчин К соревнованиям
        допускаются спортсмены и
        спортсменки сборных команд субъектов Российской Федерации. Участники должны быть 2004 года рождения или старше.
        Максимальное число участников каждого предварительного этапа - 90 человек (60 мужчин, 30 женщин). Выступать на
        турнире могут только граждане РФ. К участию в личных видах программы
    </p>
    <div class="row">
        <div class="col-12 col-lg-4">
            <img class="icon-detail-course" src="/img/Icon_8games.png" alt="">
            <p class="item-detail-course">8 занятий<br> с тренером</p>
        </div>
        <div class="col-12 col-lg-4">
            <img class="icon-detail-course" src="/img/Icon_golf.png" alt="">
            <p class="item-detail-course">Профессиональные<br> клюшки</p>
        </div>
        <div class="col-12 col-lg-4">
            <img class="icon-detail-course" src="/img/Icon_plan.png" alt="">
            <p class="item-detail-course">План самостоятельных<br> домашних тренировок.</p>
        </div>
        <div class="col-12 col-lg-4">
            <img class="icon-detail-course" src="/img/Icon_analyse.png" alt="">
            <p class="item-detail-course">Видеоанализ<br> техники.</p>
        </div>
        <div class="col-12 col-lg-4">
            <img class="icon-detail-course" src="/img/Icon_support.png" alt="">
            <p class="item-detail-course">Поддержка академии<br> по всем гольф-вопросам.</p>
        </div>
        <div class="col-12 col-lg-4">
            <img class="icon-detail-course" src="/img/Icon_sale.png" alt="">
            <p class="item-detail-course">Скидки на покупку клюшекM<br> и членства в гольф-клубах.</p>
        </div>
    </div>

    <h5>Наши учителя</h5>
    <div class="d-none d-lg-block">
        <div class="row">
            <div class="col-4">
                <div class="card-teacher">
                    <img src="/img/content/teacher1.svg" alt="">
                    <p class="name-teacher text18">Е. Кафельников</p>
                    <p class="description-teacher">
                        «Просто хочу бегать» не работает — cразу найдется 100 причин не идти на тренировку. Финишировать в
                        забеге — это конкретная цель. Вы можете представить и измерить результат, поэтому легче себя
                        мотивировать.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="card-teacher">
                    <img src="/img/content/teacher2.svg" alt="">
                    <p class="name-teacher text18">Е. Кафельников</p>
                    <p class="description-teacher">
                        «Просто хочу бегать» не работает — cразу найдется 100 причин не идти на тренировку. Финишировать в
                        забеге — это конкретная цель. Вы можете представить и измерить результат, поэтому легче себя
                        мотивировать.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="card-teacher">
                    <img src="/img/content/teacher3.svg" alt="">
                    <p class="name-teacher text18">Е. Кафельников</p>
                    <p class="description-teacher">
                        «Просто хочу бегать» не работает — cразу найдется 100 причин не идти на тренировку. Финишировать в
                        забеге — это конкретная цель. Вы можете представить и измерить результат, поэтому легче себя
                        мотивировать.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="teachers-slider d-lg-none">
            <div class="card-teacher">
                <img class="d-block m-auto" src="/img/Avatar_teacher.png" alt="">
                <p class="name-teacher text18">Е. Кафельников</p>
                <p class="description-teacher">
                    «Просто хочу бегать» не работает — cразу найдется 100 причин не идти на тренировку. Финишировать в
                    забеге — это конкретная цель. Вы можете представить и измерить результат, поэтому легче себя
                    мотивировать.
                </p>
            </div>
            <div class="card-teacher">
                <img class="d-block m-auto" src="/img/Avatar_teacher.png" alt="">
                <p class="name-teacher text18">Е. Кафельников</p>
                <p class="description-teacher">
                    «Просто хочу бегать» не работает — cразу найдется 100 причин не идти на тренировку. Финишировать в
                    забеге — это конкретная цель. Вы можете представить и измерить результат, поэтому легче себя
                    мотивировать.
                </p>
            </div>
            <div class="card-teacher">
                <img class="d-block m-auto" src="/img/Avatar_teacher.png" alt="">
                <p class="name-teacher text18">Е. Кафельников</p>
                <p class="description-teacher">
                    «Просто хочу бегать» не работает — cразу найдется 100 причин не идти на тренировку. Финишировать в
                    забеге — это конкретная цель. Вы можете представить и измерить результат, поэтому легче себя
                    мотивировать.
                </p>
            </div>
    </div>
</div>

