<div class="container style list-news slider-style" style="margin-top: 30px;">
    <div class="row">
        <div class="col-12 col-lg-8">
            <img class="img-fluid" src="/img/img-style.svg" alt="">
            <a class="name-sector sector-purple link-no-decoration">
                Стиль жизни
            </a>
            <div class="news-title">
                <a class="name-news" href="">
                    Гольф-клуб «Сколково» завершил 5й юбилейный сезон премией Skolkovo Season Awards
                </a>
            </div>
            <div class="text-news">
                Гольф-клуб «Сколково» завершил пятый юбилейный сезон масштабной премией Skolkovo Season Awards и концертом джазового пианиста Джейми Каллума.
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-4">
            <h3>Обучение</h3>
            @@include('_comp_slider-style-life.html')
        </div>
    </div>
</div>
