<div class="container style list-news" style="margin-top: 30px;">
    <div class="row">
        <div class="col-12 col-lg-8">
            <img class="img-fluid" src="/img/content/img-tips.png" alt="">
            <a class="name-sector sector-blue link-no-decoration d-none d-lg-inline-block">
                Обучение
            </a>
            <div class="news-title">
                <a class="name-news" href="">
                    Топ-5 брендов оборудование для гольфа
                </a>
            </div>
            <div class="text-news">
                Гольф-клуб «Сколково» завершил пятый юбилейный сезон масштабной премией Skolkovo Season Awards и концертом джазового пианиста Джейми Каллума.
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-4">
            <h3>Календарь</h3>
            @@include('_comp_calendar-slider-index.html')
        </div>
    </div>
</div>
