
<div class="container container-golf-club">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumb-link" href="#">Календарь турниров</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cape Kaliakra Open 2019</li>
    </ol>
</nav>
    <div class="row">
            <div class="col-12 col-lg-7">
            <h2 class="d-inline-block">Завидово, PGA National Россия</h2>
                <a class="d-inline-block float-right share-link" href="" style="margin-right: 20px; margin-top: 7px;">
                    <img src="/img/share.svg" alt="">
                </a>
                <div class="d-inline-block">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                    <img class="d-inline-block star" src="/img/star.png" alt="">
                </div>
            <p class="d-inline-block num-ratings">4 оценки</p>
            <div class="contacts-club">
                <a href="tel:+74957397373"><img src="/img/phone.png" alt=""> +7 495 739 73 73</a>
                <a href="www.zavidovo-golf.ru"><img src="/img/site.png" alt=""> www.zavidovo-golf.ru</a>
                <a class="golf-club-mail d-block" href="mailto:hello@example.com">hello@example.com</a>
                <div class="mark-club">
                    <img class="d-inline-block" src="/img/mark.png" alt="">
                    <p class="d-inline-block">171266, Российская Федерация, Тверская обл., Конаковский р-н, Мокшинское
                        с\п, д. Мокшино, ул. Школьная
                        д.4а</p>
                    <p class="club-coordinats">56.5808° с.ш., 36.5311° з.д.</p>
                </div>
            </div>

                <div class="golf-club-slider-for d-lg-none">
                    <div><img class="img-fluid" src="/img/image54.png" alt=""></div>
                    <div><img class="img-fluid" src="/img/image54.png" alt=""></div>
                    <div><img class="img-fluid" src="/img/image54.png" alt=""></div>
                </div>
                <div class="golf-club-slider-nav d-lg-none">
                    <div><img class="img-fluid" src="/img/image54.png" alt=""></div>
                    <div><img class="img-fluid" src="/img/image54.png" alt=""></div>
                    <div><img class="img-fluid" src="/img/image54.png" alt=""></div>
                </div>

            <div class="description-club">
                <h3>Описание</h3>
                <p>Списки предварительно допущенных участников у женщин и мужчин К соревнованиям допускаются спортсмены
                    и спортсменки сборных команд субъектов Российской Федерации. Участники должны быть 2004 года
                    рождения
                    или старше. Максимальное число участников каждого предварительного этапа - 90 человек (60 мужчин, 30
                    женщин). Выступать на турнире могут только граждане РФ. К участию в личных видах программы
                    допускаются
                    мужчины и женщины, имеющие на дату окончания приёма предварительных заявок активный точный гандикап
                    со
                    значением не хуже 14 для мужчин и не хуже 18 для женщин. К участию в каждом предварительном этапе
                    соревнования допускаются спортсмены и спортсменки, представляющие принимающий регион, в количестве
                    не более 50 % от общего количества участников. Остальные спортсмены должны представлять иные
                    регионы.
                    Для Москвы и Московской области принимающим считается их объединённый регион. Если количество заявок
                    превышает количество мест для участия, предпочтение отдаётся спортсменам, имеющим лучшее значение
                    своего точного гандикапа.</p>
            </div>

        </div>

        <div class="col-12 col-lg-5 d-none d-lg-block">
            <div class="golf-club-slider-for">
                <div><img src="/img/image54.png" alt=""></div>
                <div><img src="/img/image54.png" alt=""></div>
                <div><img src="/img/image54.png" alt=""></div>
            </div>
            <div class="golf-club-slider-nav">
                <div><img src="/img/image54.png" alt=""></div>
                <div><img src="/img/image54.png" alt=""></div>
                <div><img src="/img/image54.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="characteristics-club">
        <h3>Основные характеристики</h3>
        <div class="row">
            <div class="col-12 col-lg-9">
                <div class="table-characteristics">
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Стиль</div>
                        <div class="col-12 col-lg-6 descrip">Линкс</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Тип</div>
                        <div class="col-12 col-lg-6 descrip">Частный</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Лунки</div>
                        <div class="col-12 col-lg-6 descrip">18</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Год постройки</div>
                        <div class="col-12 col-lg-6 descrip">2011</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Архитектор</div>
                        <div class="col-12 col-lg-6 descrip">European Golf Design (EGD)</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Прием гостей</div>
                        <div class="col-12 col-lg-6 descrip"><p>Посетители могут играть в будние дни. </p>
                            <p>The Old Course не доступен для бронирования на субботу и не работает по воскресеньям.</p>
                            <p>Максимальный гандикап для игры на поле 24 для мужчин и 36 для женщин.</p>
                            <p>Подтверждение действующего гандикапа должно быть предоставлено до выхода на поле.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Гольф-сезон</div>
                        <div class="col-12 col-lg-6 descrip">Май — октябрь</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Тренировочная зона</div>
                        <div class="col-12 col-lg-6 descrip"><p>Драйвинг рейндж, паттинг<br> грин, чиппинг грин, бункер</p></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Тележки для клюшек</div>
                        <div class="col-12 col-lg-6 descrip">Есть</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Электротележки</div>
                        <div class="col-12 col-lg-6 descrip">Есть</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Гольф-кары</div>
                        <div class="col-12 col-lg-6 descrip"><p>Доступны только с апреля по октябрь и только для игроков с медицинскими
                            ограничениями, что должно быть подтверждено соответствующим документом.</p>
                            <p style="margin-top: 19px; margin-bottom: 5px;">Гольф-кар предоставляется в таких случаях бесплатно, и будет управляться квалифицированным водителем.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Прокат клюшек</div>
                        <div class="col-12 col-lg-6 descrip"><p>£30 за раунд, £40 за день. <br>Юниоры до 16 лет получают 50% скидку</p></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Прошоп</div>
                        <div class="col-12 col-lg-6 descrip">Есть</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Ти тайм</div>
                        <div class="col-12 col-lg-6 descrip">
                            <p>Требуется предварительное бронирование.</p>
                            <ul class="pl-0" style="list-style: none; padding-top: 8px;margin-bottom: 7px;">Игра на the Old Course доступна следующими способами:
                                <li>- раннее бронирование (в начале сентября для игры на поле в следующем году);</li>
                                <li>- участие в лотерее за двое суток до желаемой даты;</li>
                                <li>- для индивидуальных игроков, личный запрос в день игры путём подключением игрока в
                                    ближайший стартующий флайт, состоящий менее, чем из четырех человек;</li>
                                <li>- покупка премиум Ти тайм.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Грин фи (18 лунок будни)</div>
                        <div class="col-12 col-lg-6 descrip">
                            <p>С января по март - £70</p>
                            <p>С 1 по 15 апреля - £100</p>
                            <p>С 16 апреля по 14 октября - £150</p>
                            <p>С 15 октября по 31 октября - £105</p>
                            <p style="padding-bottom: 5px;">С ноября по декабрь - £75</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Грин фи (18 лунок выходные)</div>
                        <div class="col-12 col-lg-6 descrip">Линкс</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Стоимость членства в клубе</div>
                        <div class="col-12 col-lg-6 descrip">Линкс</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Ресторан</div>
                        <div class="col-12 col-lg-6 descrip">Еcть</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Дресс код и этикет</div>
                        <div class="col-12 col-lg-6 descrip">Общепринятый</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Уроки гольфа</div>
                        <div class="col-12 col-lg-6 descrip"><p>Филиал академии гольфа <br> PGA National</p></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Кедди</div>
                        <div class="col-12 col-lg-6 descrip">-</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 name-descrip">Кредитные карты</div>
                        <div class="col-12 col-lg-6 descrip">-</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <img class="d-none d-lg-block" src="/img/tour-adidas.png" alt="">
            </div>
        </div>

    </div>
    <div class="account-card">
        <h3>Счетная карточка</h3>
        <table class="account-card-table">
            <tr class="head-green">
                <th>Ти</th>
                <th>Пар</th>
                <th>Метры</th>
                <th>Слоуп</th>
                <th>рейтинг</th>
            </tr>
            <tr class="td-card">
                <td>Дальние</td>
                <td>72</td>
                <td>6700</td>
                <td>141</td>
                <td>77,4</td>
            </tr>
            <tr class="td-card">
                <td>Дальние</td>
                <td>72</td>
                <td>2600</td>
                <td>135</td>
                <td>78,4</td>
            </tr>
            <tr class="td-card">
                <td>Женские</td>
                <td>72</td>
                <td>4910</td>
                <td>125</td>
                <td>77,2</td>
            </tr>
        </table>
    </div>
    <table class="t2" cellpadding="0" cellspacing="0">
        <tbody>
        <tr> <td width="250">Ти</td> <td>Пар</td> <td nowrap="">Ярды</td> <td>Слоуп</td><td>Рейтинг</td></tr>

        <tr> <td>Дальние</td> <td>35</td> <td>3093</td> <td>143</td><td>73,7</td></tr>

        <tr> <td>Мужские</td> <td>35</td> <td>2915</td> <td>135</td><td>71,6</td></tr>

        <tr> <td>Женские</td> <td>35</td> <td>2516</td> <td>129</td><td>73,9</td></tr>
        </tbody>
    </table>


    <table class="t2" cellpadding="0" cellspacing="0">
        <tbody>
        <tr> <td width="250">Ти</td> <td>Пар</td> <td nowrap="">Метры</td> <td>Слоуп</td><td>Рейтинг</td></tr>

        <tr> <td>Дальние</td> <td>27</td> <td>590</td> <td></td><td></td></tr>

        <tr> <td>Мужские</td> <td>27</td> <td>590</td> <td></td><td></td></tr>

        <tr> <td>Женские</td> <td>27</td> <td>590</td> <td></td><td></td></tr>
        </tbody>
    </table>
</div>
