<div class="container container-article">
    <div class="row">
        <div class="col-12 col-lg-8">
<h4 class="d-inline-block">Топ-5 брендов оборудование для гольфа</h4>
            <a class="d-none d-lg-inline-block float-right share-link" href="">
                <img src="/img/share.png" alt="">
            </a>
            <p class="p12-gray" style="margin-bottom: 14px;">22 февраля</p>
            <div class="d-block d-lg-inline-block border-right block-author">
                <img class="d-inline-block foto-author" src="/img/Avatar_author.png" alt="">
                <div class="d-inline-block">
                    <p class="name-author">Андрей Шерстнев</p>
                    <p class="p12-gray">Автор статьи</p>
                </div>
            </div>
            <div class="d-block d-lg-inline-block rang-author">
                <p class="p12-gray">Советник Генерального Директора «Мультиспорт», Генеральный директор Олимпийского стадиона «Лужники»
                    (с декабря 1982 года по апрель 2011 года), Заслуженный работник физической культуры РФ, гольфист. </p>
            </div>
            <img class="img-fluid" src="/img/golf-bag.png" alt="" style="margin-bottom: 40px;">
            <p class="text-article">Messinia Pro Am 2019 проходил на двух полях греческого курорта Costa Navarino – Dunes Course и Bay
                Course, которые находятся около The Westin Resort, выполненного в классическом средиземноморском стиле.</p>
            <p  class="text-article">Оба гольф-поля расположены на холмах, среди оливковых деревьев, что предает особой колорит игре в гольф в Греции.</p>
            <p  class="text-article">Играть здесь можно начиная с февраля и Messinia Pro Am является, в своем роде, «турниром открытия
                сезона». Что касается погоды, то февраль в Costa Navarino достаточно комфортный и напоминает вторую
                середину сентября в средней полосе России.</p>
            <p  class="text-article">Одной из целью проведения турнира является привлечение внимания к региону со стороны гольфистов из
                разных стран Европы и в том числе из России.</p>
            <p  class="text-article">Вкусная еда, приемлемые цены, высокий уровень обслуживания и очень приветливый персонал выгодно выделяет
                Costa Navarino среди других популярных направлений у наших гольф-туристов.</p>
            <img class="img-fluid d-block m-auto d-lg-none" style="margin-bottom: 30px!important;" src="/img/tour-adidas.png" alt="">
            <div class="">
                <div class="article-slider-for">
                    <div><img class="img-fluid" src="/img/image55.png" alt=""></div>
                    <div><img class="img-fluid" src="/img/image55.png" alt=""></div>
                    <div><img class="img-fluid" src="/img/image55.png" alt=""></div>
                </div>
                <div class="article-slider-nav d-none d-lg-block">
                    <div><img class="img-fluid" src="/img/image54.png" alt=""></div>
                    <div><img class="img-fluid" src="/img/image54.png" alt=""></div>
                    <div><img class="img-fluid" src="/img/image54.png" alt=""></div>
                </div>
            </div>
            <img class="img-fluid d-block m-auto d-lg-none" style="margin-top: 55px; margin-bottom: 30px!important;" src="/img/adidas-mini.png" alt="">
            <p  class="text-article">Messinia Pro Am 2019 проходил на двух полях греческого курорта Costa Navarino – Dunes Course и Bay
                Course, которые находятся около The Westin Resort, выполненного в классическом средиземноморском стиле.</p>
            <p  class="text-article">Оба гольф-поля расположены на холмах, среди оливковых деревьев, что предает особой колорит игре в гольф в Греции.</p>
            <p  class="text-article">Играть здесь можно начиная с февраля и Messinia Pro Am является, в своем роде, «турниром открытия
                сезона». Что касается погоды, то февраль в Costa Navarino достаточно комфортный и напоминает вторую
                середину сентября в средней полосе России.</p>
            <p class="text-article">Одной из целью проведения турнира является привлечение внимания к региону со стороны гольфистов из
                разных стран Европы и в том числе из России.</p>
            <p class="text-article">Вкусная еда, приемлемые цены, высокий уровень обслуживания и очень приветливый персонал выгодно выделяет
                Costa Navarino среди других популярных направлений у наших гольф-туристов.</p>
            <a class="btn-like d-inline-block" href="#">Мне нравится</a>
            <div class="d-block position-relative">
                <div class="btns-socials">
                    <button type="button" class="close close-socials">
                        <span aria-hidden="true"><img src="img/close.svg" alt=""></span>
                    </button>
                    <a class="d-block" href=""><img src="img/Twitter.svg" alt=""></a>
                    <a class="d-block" href=""><img src="/img/facebook.svg" alt=""></a>
                    <a class="d-block" href=""><img src="img/vkontakte.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-4">
            <h3>Календарь</h3>
            @@include('_comp_calendar-slider-index.html')
            <div class="text-center">
                <div class="banner">
                    <a href=""><img class="img-fluid" src="/img/addidas-tips-top.png" alt=""></a>
                </div>
                <div class="banner" style="margin-top: 25px;">
                    <a href=""><img class="img-fluid" src="/img/adidas-tips-bottom.png" alt=""></a>
                </div>
            </div>
        </div>

    </div>
</div>
