<div class="bg-contacts">
    <div class="container container-contacts">
        <h3>Контакты</h3>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="border-right">
                <p class="text18">Главный редактор</p>
                <p class="text">Ракивненко Сергей </p>
            </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="border-right">
                <p class="text18">Вопросы сотрудничества, рекламы</p>
                <a class="contacts-mail" href="mailto:ssr@golfmir.ru">ssr@golfmir.ru</a>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <p class="text18">Телефон</p>
                <a class="contacts-phone" href="tel:+79859703858">+7 (985) 970 38 58</a>
            </div>
        </div>
    </div>
</div>
<div class="documents-about-us d-lg-none">
    <a class="docs"><p>Пользовательское соглашение</p></a>
    <a class="docs"><p>Соглашение конфидициальности</p></a>
    <a class="docs"><p>Соглашения о раскрытии<br> информации</p></a>
</div>
<div class="container contacts-form">
    <h5>Свяжитесь с нами</h5>
    <form>
        <div class="form-group col-form" style="margin-right: 3%;">
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Имя">
        </div>
        <div class="form-group col-form">
            <input type="email" class="form-control" id="email" placeholder="Эл. почта">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="theme" placeholder="Тема">
        </div>
        <div class="form-text">
            <textarea type="text" class="form-control" id="textArea" rows="8" cols="20"
                      placeholder="Сообщение"></textarea>
        </div>
        <input type="submit" class="btn-green btn-pay" value="Отправить">
    </form>
</div>


