<div class="container container-faq">
    <h5>Часто задаваемые вопросы</h5>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="block-border">
                <h6>Есть ли в гольфе физические нагрузки?</h6>
                <p>Да и еще какие! Гольф – это динамичный вид спорта, который требует координации движений всего тела.
                    Современный гольфист – это атлет, бьющий мяч за 220 метров, проходящий 14 – 18 км по гольф-полю,
                    выдерживающий нагрузки более 5 часов подряд.</p>
            </div>
            <div class="block-border">
                <h6>На какой вид спорта похож гольф?</h6>
                <p>Гольф – это не только социальный вид спорта, но и спорт где вы «боретесь» со стихией и самим
                    собой.</p>
                <p> Его можно сравнить с серфом или сноубордом так, как гольф-поле никогда не бывает одинаковым - при
                    этом вы находитесь во власти природы, которая часто проверяет ваш дух и тело на прочность.</p>
            </div>
            <div class="block-border">
                <h6>Сколько длится тренировка?</h6>
                <p>Мы стараемся, чтобы тренировка длилась не больше часа, чтобы вы не теряли концентрацию и у вас еще
                    остались силы полчаса отработать удары самостоятельно.</p>
            </div>
            <div class="block-border">
                <h6>Тренировки проходят в Москве, мне не придется далеко ехать?</h6>
                <p>Преимуществом нашей Академии, является то, что занятия проходят в гольф-локациях Москвы и вы не
                    будете тратить много времени на дорогу.</p>
            </div>
            <div class="block-border">
                <h6>Сколько человек в группе?</h6>
                <p>В каждой группе не больше 4 человек, чтобы и вам, и тренеру было максимально удобно. Занимаясь в
                    группе вам будет не только понятен свой прогресс на фоне других, но вы будете привыкать к нахождению
                    во флайтах из 4х человек – ситуации привычной на гольф-турнирах</p>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="block-border">
                <h6>Сколько стоит аренда помоста на драйвинг рейндже?</h6>
                <p>Аренда помоста включена в стоимость программы. Мячики оплачиваются отдельно, так как сколько вы их
                    отобьете зависит только от вас.</p>
            </div>
            <div class="block-border">
                <h6>Что нужно брать с собой на первую тренировку?</h6>
                <p>Не покупайте ничего нового. Придите в удобных разношенных брюках или шортах, поло с воротничком и
                    нескользящей обуви. Оденьтесь удобно и спокойно. Джинсы запрещены на гольф-поле, не только потому,
                    что это выглядит странно, но и потому, что в них очень неудобно играть – вы поймете это сами. Мы
                    обязательно дадим вам рекомендации по подбору обуви, клюшек и другой экипировки.</p>
            </div>
            <div class="block-border">
                <h6>Могу ли я перенести тренировку?</h6>
                <p>Мы рассчитываем, что вы серьезно отнесетесь к обучению и сумеете спланировать свое время заранее. Мы
                    обучаем гольфистов по определенной методике, которая требует посещения всех занятий курса. Мы не
                    приветствуем переносы занятий, но можем предоставить такую возможность при определенных
                    условиях. </p>
            </div>
            <div class="block-border">
                <h6>Есть ли скидки на приобретение гольф-клюшек, обуви, перчаток и другой экипировки для студентов
                    Академии?</h6>
                <p>Да, вы сможете получить скидку в магазинах-партнерах. Более того, мы дадим рекомендации по подбору
                    инвентаря.</p>
            </div>
            <div class="block-border">
                <h6>Обязательно посещать все восемь тренировок?</h6>
                <p>Мы не можем вас заставить, но для гарантированного результата лучше не пропускать тренировки. На
                    каждом занятии тренер объясняет новую тему, без которой сложно будет идти дальше. Поэтому пропускать
                    нежелательно.</p>
            </div>
        </div>
    </div>
</div>