@@include('__header.html')
<div class="container container-kaddy container-kaddy-start">
    <div class="row">
        <div class="col-12 col-lg-3">
            <div class="card-kaddy kaddy-starting">
                <img src="img/author.svg" alt="">
                <p class="name-kaddy">Виктория Смирнова</p>
                <div class="advance-kaddy">
                    <p class="articles">Автор 13 статей</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <h4 class="d-inline-block">Описание</h4>
            <a class="d-inline-block float-right share-link" href="" style="margin-right: 40px; margin-top: 20px;">
                <img src="/img/share.png" alt="">
            </a>
            <div class="icons-description">
                <p class="old-kaddy">35 лет</p>
                <p class="education-kaddy">НОУ МЭИ '92</p>
                <p class="practic-kaddy">Кэдди с 2014 г.</p>
            </div>
            <p class="text-kaddy">Кубок России по гольфу в 2016 году состоит из трёх предварительных этапов в разных субъектах  Российской
                Федерации, а его финальный этап состоится в Ленинградской области в гольф-клубе GORKI. Организатором Кубка
                является АГР. В 2016 году состоит из трёх Предварительных этапов в разных субъектах Российской Федерации</p>

            <h3>Последние статьи</h3>
            <div class="row list-articles">
                <div class="col-12 col-lg-5">
                    <ul style="list-style: none; padding-left: 0;">
                        <li class="card-like-news card-news">
                            <a href="#" class="name-sector sector-blue">Обучение</a>
                            <a href="#" class="title-news">Академия гольфа : 15 советов как найти учителя по гольфу</a>
                            <p class="text-news">в Pine Creek Golf Resort прошёл первый семейный турнир Family Cup. В турнире приняли участие семейные пары и родители с детьми</a>
                        </li>
                        <li class="card-like-news card-news">
                            <a href="#" class="name-sector sector-blue">Обучение</a>
                            <a href="#" class="title-news">Какое оборудование выбрать начинающему гольфисту</a>
                            <p class="text-news">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также купив билеты в рамках специальной лотереи. Если этого не произошло, то за бейдж на неделю вам придется заплатить $12,450.</a>
                        </li>
                        <li class="card-like-news card-news">
                            <a href="#" class="name-sector sector-blue">Обучение</a>
                            <a href="#" class="title-news">Академия гольфа : 15 советов как найти учителя по гольфу</a>
                            <p class="text-news">в Pine Creek Golf Resort прошёл первый  семейный турнир Family Cup. В турнире  приняли участие семейные пары  и родители с детьми</a>
                        </li>
                    </ul>
                </div>
                <div class="col-1 border-right"></div>
                <div class="col-1"></div>
                <div class="col-12 col-lg-5">
                    <ul style="list-style: none; padding-left: 0;">
                        <li class="card-like-news card-news">
                            <a href="#" class="name-sector sector-blue">Обучение</a>
                            <a href="#" class="title-news">Какое оборудование выбрать начинающему гольфисту</a>
                            <p class="text-news">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также купив билеты в рамках специальной лотереи. Если этого не произошло, то за бейдж на неделю вам придется заплатить $12,450.</a>
                        </li>
                        <li class="card-like-news card-news">
                            <a href="#" class="name-sector sector-blue">Обучение</a>
                            <a href="#" class="title-news">Академия гольфа : 15 советов как найти учителя по гольфу</a>
                            <p class="text-news">в Pine Creek Golf Resort прошёл первый семейный турнир Family Cup. В турнире приняли участие семейные пары и родители с детьми</a>
                        </li>
                        <li class="card-like-news card-news">
                            <a href="#" class="name-sector sector-blue">Обучение</a>
                            <a href="#" class="title-news">Какое оборудование выбрать начинающему гольфисту</a>
                            <p class="text-news">Попасть на крупнейший турнир начала гольф-сезона можно по приглашению, а также купив билеты в рамках специальной лотереи. Если этого не произошло, то за бейдж на неделю вам придется заплатить $12,450.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="btn-green btn-load" href="#">Загрузить еще</a>
        </div>
    </div>
</div>
<div class="bg-gray">
    <div class="container">
        <h3>Другие авторы</h3>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card-author card-news">
                    <div class="row">
                        <div class="col-3">
                            <img class="card-author__img" src="img/author.svg" alt="">
                        </div>
                        <div class="col-9">
                            <a class="card-author__name-author title-news" href="#">Александра Беднякова</a>
                            <span class="d-inline-block text-gray">Автор</span>
                        </div>
                        <div class="col-12">
                            <a href="#" class="name-sector sector-blue">Обучение</a>
                            <a href="#" class="title-news">Академия гольфа : 15 советов как найти учителя по гольфу</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card-author card-news">
                    <div class="row">
                        <div class="col-3">
                            <img class="card-author__img" src="img/author.svg" alt="">
                        </div>
                        <div class="col-9">
                            <a class="card-author__name-author title-news" href="#">Александра Беднякова</a>
                            <span class="d-inline-block text-gray">Автор</span>
                        </div>
                        <div class="col-12">
                            <a href="#" class="name-sector sector-blue">Обучение</a>
                            <a href="#" class="title-news">Академия гольфа : 15 советов как найти учителя по гольфу</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card-author card-news">
                    <div class="row">
                        <div class="col-3">
                            <img class="card-author__img" src="img/author.svg" alt="">
                        </div>
                        <div class="col-9">
                            <a class="card-author__name-author title-news" href="#">Александра Беднякова</a>
                            <span class="d-inline-block text-gray">Автор</span>
                        </div>
                        <div class="col-12">
                            <a href="#" class="name-sector sector-blue">Обучение</a>
                            <a href="#" class="title-news">Академия гольфа : 15 советов как найти учителя по гольфу</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@@include('__footer.html')
