@@include('__header.html')
@@include('_page_golf-club.html')
<div class="container">
    <h3>Ближайшие турниры</h3>
</div>
<div class="golf-slider">
@@include('_comp_slider_turnirs_horizontal.html')
</div>
@@include('_comp_golf-clubs.html')
@@include('__footer.html')
