@@include('__header.html')
<div class="container container-kaddy">
    <div class="row">
        <div class="col-12 col-lg-3">
            @@include('_comp_card-kaddy-profi.html')
        </div>
        <div class="col-12 col-lg-9">
            <!--<div class="row-gray-bg">-->
                <!--<p class="last-turnir">Последний турнир: 2 дня назад</p>-->
                <!--<button class="btn-comment">Оставить отзыв</button>-->
                <!--<button class="btn-buy-kaddy">Заказать услугу кэдди</button>-->
            <!--</div>-->
            <h4 class="d-inline-block">Описание</h4>
            <a class="d-inline-block float-right share-link" href="" style="margin-right: 40px; margin-top: 20px;">
                <img src="/img/share.png" alt="">
            </a>
            <div class="icons-description">
                <p class="old-kaddy">35 лет</p>
                <p class="education-kaddy">НОУ МЭИ '92</p>
                <p class="practic-kaddy">Кэдди с 2014 г.</p>
            </div>
            <p class="text-kaddy">Кубок России по гольфу в 2016 году состоит из трёх предварительных этапов в разных субъектах  Российской
                Федерации, а его финальный этап состоится в Ленинградской области в гольф-клубе GORKI. Организатором Кубка
                является АГР. В 2016 году состоит из трёх Предварительных этапов в разных субъектах Российской Федерации</p>
            <p class="text-kaddy">Кубок России по гольфу в 2016 году состоит из трёх предварительных этапов в разных субъектах  Российской
                Федерации, а его финальный этап состоится в Ленинградской области в гольф-клубе GORKI. Организатором Кубка
                является АГР. В 2016 году состоит из трёх Предварительных этапов в разных субъектах Российской Федерации</p>
            <p class="text-kaddy">Кубок России по гольфу в 2016 году состоит из трёх предварительных этапов в разных субъектах  Российской
                Федерации, а его финальный этап состоится в Ленинградской области в гольф-клубе GORKI. Организатором Кубка
                является АГР. В 2016 году состоит из трёх Предварительных этапов в разных субъектах Российской Федерации</p>
            <p class="text-kaddy">Кубок России по гольфу в 2016 году состоит из трёх предварительных этапов в разных субъектах  Российской
                Федерации, а его финальный этап состоится в Ленинградской области в гольф-клубе GORKI. Организатором Кубка
                является АГР. В 2016 году состоит из трёх Предварительных этапов в разных субъектах Российской Федерации</p>
        </div>
    </div>
</div>
<div class="container container-calendar-kaddy">
    <h3 class="title-with-line d-none d-lg-block"><span>Календарь</span></h3>
    @@include('_comp_calendar-slider.html')
</div>
@@include('__footer.html')
