@@include('__header.html')
@@include('_comp_index-banner.html')
@@include('_comp_news.html')
@@include('_comp_calendar-index.html')
@@include('_comp_style_life.html')
<div class="container d-lg-none press-relize">
    <h3>Пресс релизы</h3>
    @@include('_comp_news-slider.html')
</div>
@@include('_comp_seminars.html')
<div class="container">
    <div class="banner">
        <a href="#">
            <img class="d-none d-lg-block img-fluid" src="/img/banner.png" alt="">
        </a>
    </div>
</div>
@@include('_comp_golf_clubs-index.html')
<div class="bg-gray">
@@include('_comp_news_horizontal_slider.html')
</div>
<div class="container">
    <img class="img-fluid" src="/img/content/list-video.svg" alt="">
</div>
@@include('_comp_socials.html')
@@include('__footer.html')


<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=UUZzI2SZWcyXRwNKFOZ2E2Lg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->