@@include('__header.html')
@@include('_page_list-tips.html')
@@include('_comp_list-tips-tile.html')
<div class="container-mob d-lg-none">
    @@include('_comp_news_slider-calendar.html')
</div>
<div class="container-mob d-lg-none">
    @@include('_comp_list-tips-mob.html')
</div>
@@include('__footer.html')