@mixin media-bp-up($par) {
    @if $par == sm {@media (min-width: 576px) { @content; }}
    @if $par == md {@media (min-width: 768px) { @content; }}
    @if $par == lg {@media (min-width: 992px) { @content; }}
    @if $par == xl {@media (min-width: 1200px) { @content; }}
 }
 @mixin media-bp-down($par) {
    @if $par == sm {@media (max-width: 576px) { @content; }}
    @if $par == md {@media (max-width: 768px) { @content; }}
    @if $par == lg {@media (max-width: 992px) { @content; }}
    @if $par == xl {@media (max-width: 1200px) { @content; }}
 }

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
